<<<<<<< HEAD
* {
  box-sizing: border-box;
}

.post-search-dropdown-container {
  position: absolute;
  right: 40px;
  z-index: 1;
  background: linear-gradient(to bottom, #352c29 40%, #fbfcff 40%);
  border: 1px solid #675d59;
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
  margin-top: 20px;
  padding: 15px;
  width: 350px;
  height: 360px;
}

.post-search-dropdown-title {
  color: transparent;
=======
.post-search-dropdown-container {
  z-index: 1;
  background: linear-gradient(to bottom, #352c29 40%, #fbfcff 40%);

  border: 1px solid #675d59;
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
  width: 350px;
  height: 360px;
  padding: 15px;
  // gap: 10px;
  position: absolute;
  right: 20px;
}
.post-search-dropdown-title {
>>>>>>> AWS-frontend-postSearch
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
<<<<<<< HEAD
  text-align: left;
  background: linear-gradient(90deg, #f48c8a 0%, #f0a484 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-basis: 100%;
  padding-bottom: 10px;
}

.post-search-dropdown-trendy-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

=======
  background: linear-gradient(90deg, #f48c8a 0%, #f0a484 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  flex-basis: 100%; /* Title takes full width */
  text-align: left; /* Align text to the left */
  padding-bottom: 10px; /* Add some space below the title */
}
.post-search-dropdown-trendy-items {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: flex-start; /* Align items to the start of the container */
}
>>>>>>> AWS-frontend-postSearch
.post-search-dropdown-trendy .post-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
<<<<<<< HEAD
  color: transparent;
=======
  width: calc(50% - 10px); /* Adjust the width to account for the margin */
  height: calc(50% - 10px); /* Adjust the height to account for the margin */
  margin: 5px; /* Add a margin for spacing */
  box-sizing: border-box;
>>>>>>> AWS-frontend-postSearch
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #f48c8a 0%, #f0a484 100%);
<<<<<<< HEAD
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}

.post-search-dropdown-title-previous {
  color: transparent;
=======
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.post-search-dropdown-title-previous {
>>>>>>> AWS-frontend-postSearch
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
<<<<<<< HEAD
  text-align: left;
  background: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-basis: 100%;
  padding-bottom: 10px;
}

.post-search-item-previous {
  text-align: left;
  border-bottom: 1px solid #e2e3e7;
  padding: 6px 0;
}

.post-search-dropdown-title-previous {
  color: transparent;
=======
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  flex-basis: 100%; /* Title takes full width */
  text-align: left; /* Align text to the left */
  padding-bottom: 10px; /* Add some space below the title */
}
.post-search-item-previous {
  border-bottom: 1px solid #e2e3e7;
  padding: 6px 0;
  text-align: left;
  //margin-top: 20px;
}
.post-search-dropdown-title-previous {
>>>>>>> AWS-frontend-postSearch
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
<<<<<<< HEAD
  text-align: left;
  background: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-basis: 100%;
  padding-bottom: 10px;
}

.post-search-dropdown-previous-container {
  position: absolute;
  top: 150px;
=======
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  flex-basis: 100%; /* Title takes full width */
  text-align: left; /* Align text to the left */
  padding-bottom: 10px; /* Add some space below the title */
}
.post-search-dropdown-previous-container {
  top: 150px;
  position: absolute;
>>>>>>> AWS-frontend-postSearch
}
