.post-search-dropdown-container {
  z-index: 1;
  background: linear-gradient(to bottom, #352c29 40%, #fbfcff 40%);

  border: 1px solid #675d59;
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
  width: 350px;
  height: 360px;
  padding: 15px;
  // gap: 10px;
  position: absolute;
  right: 20px;
}
.post-search-dropdown-title {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #f48c8a 0%, #f0a484 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  flex-basis: 100%; 
  text-align: left; 
  padding-bottom: 10px;
}
.post-search-dropdown-trendy-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.post-search-dropdown-trendy .post-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(50% - 10px); 
  height: calc(50% - 10px); 
  margin: 5px; 
  box-sizing: border-box;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #f48c8a 0%, #f0a484 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.post-search-dropdown-title-previous {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  flex-basis: 100%;
  text-align: left;
  padding-bottom: 10px; 
}
.post-search-item-previous {
  border-bottom: 1px solid #e2e3e7;
  padding: 6px 0;
  text-align: left;
  //margin-top: 20px;
}
.post-search-dropdown-title-previous {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  flex-basis: 100%; 
  text-align: left;
  padding-bottom: 10px;
}
.post-search-dropdown-previous-container {
  top: 150px;
  position: absolute;
}
