.post-detail-popUp-container
{
    display: flex;
    flex-direction: row;
    top:304px;
    radius:20px;
    .postdetail-popUp-left-container
    {
        position: relative;
        flex-basis: 50%;
        top: -1px;
        border-radius: 20px 0px 0px 20px;
        .post-detail-image
        {
            width:600px;
            border-radius: 0;
            
        }

    }
    .postdetail-popUp-right-container
    {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        
        
        margin-top:5%;
        .detail-top-content
        {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            left:5%;
        
        .post-popUp-content
        {
            position: relative;
            display: flex;
            flex-direction: column;
            gap:20px;
            max-width: 450px;

        }
        .detail-gray-font
        {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: #A5A6A8;

        }
        .detail-red-font
        {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20.8px;
            color:rgba(130, 78, 61, 1);
        }
        .post-popUp-break-lines
        {
            margin-top: 20px;
            position: relative;
            border: solid 1px rgba(226, 227, 231, 1);
            width:80%;
            
        }
        .post-popUp-comments
        {
            margin-top: 10px;
            .comment-detail
            {
                margin-top: 20px;
            }
        }
    }
    .fixed-input-box
    {
        position: fixed;
        position: relative;
        width:100%;
        height:150px;
        border:solid 1px rgba(226, 227, 231, 1);
        .Icon-display
        {
            display: flex;
            flex-direction: row;
            gap:40px;
            width:420px;
            height:25px;
            margin-top: 10px;
            margin-left: 5%;
            .Icon-size
            {
                width:25px;
                height:22.5px;
            }
            .Icon-count
            {
                display: flex;
                flex-direction: row;
                gap:10px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                color: #A5A6A8;
                align-items: center;
            }
        }
        .new-comment-input
        {
            
            .input-blank
            {
                margin-left:5%;
                border: none;
                outline: none;
            }
            .input-blank.focus
            {
                outline: none;
            }
        }

    }
}
}