.post-mobile-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 5px;
    gap: 10px;
    
    width: 160px;
    
    /* 白 */
    
    background: #FBFCFF;
    /* Strong Shadow */
    
    box-shadow: 0px 0px 40px rgba(255, 164, 163, 0.1), 0px 8px 16px rgba(32, 32, 33, 0.1), 0px 16px 40px rgba(32, 32, 33, 0.2);
    border-radius: 10px;
}
.postImage-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will ensure that the image covers the entire parent div */
    object-position: center; /* This will center the image in the div */
    border-radius: 10px 10px 0 0;
}
.postInformation-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    gap: 5px;
    
    width: 160px;
    height: 50px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    .post-text-mobile
    {
        width: 160px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        /* or 23px */
        
        display: flex;
        justify-content: center;
        color: #000000;
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
        //margin-top: 5px;
    }
    .post-text-mobile-tag{
        color: #FAB25E;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .post-profile-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15px;
        margin-top: 8px;
        .post-profile-container-mobile{
            display: flex;
            flex-direction: row;
            padding: 0px;
            gap: 7px;

            width: 10px;
            height: 15px;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
            .post-profile-pic-mobile{
                width: 12px;
                height: 12px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
        .likeNumber-mobile
        {
            position: relative;
            flex:none;
            order:1;
            flex-grow:0;
            margin-top: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap:6px;
            .heartIcon-mobile
            {
                width: 12px;
                border-radius: 0;
            }
        }
        .gray-text-mobile
        {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 8px;
            line-height: 100%;
            flex-direction: row;
            /* identical to box height, or 16px */
            width:70%;
            display: flex;
            align-items: center;
            color: #A5A6A8;
        }
    }

}