.community-post-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 5px;
    gap: 10px;
    
    // width: 240px;
    
    /* 白 */
    
    background: #FBFCFF;
    /* Strong Shadow */
    
    box-shadow: 0px 0px 40px rgba(255, 164, 163, 0.1), 0px 8px 16px rgba(32, 32, 33, 0.1), 0px 16px 40px rgba(32, 32, 33, 0.2);
    border-radius: 10px;
    .post-image-url
    {
        

        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    
    // .post-Image {
    //     position: relative;
    //     width: 100%; /* Container width */
    //     height: 100%; /* Container height */
    //     border-radius: 10px !important; /* Adjust this to match the container's border radius */
    //     overflow: hidden; /* This is important for the child img to conform to the border radius */
    // }
    
    .postImage {
        width: 100%;
        height: 100%;
        object-fit: cover; /* This will ensure that the image covers the entire parent div */
        object-position: center; /* This will center the image in the div */
        border-radius: 10px 10px 0 0;
    }
    .post-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
        gap: 5px;
        
        // width: 240px;
        height: 70px;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
        .post-text
        {
            // width: 211px;
            
            /* Interactive 2 wide */
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 100%;
            /* or 23px */
            
            display: flex;
            justify-content: center;
            color: #000000;
            /* Inside auto layout */
            
            flex: none;
            order: 0;
            flex-grow: 0;
            //margin-top: 5px;
        }
        .profile{
            /* Auto layout */

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 35px;
            margin-top: 8px;

        .profileImage
        {
            
           /* Auto layout */

                display: flex;
                flex-direction: row;
                padding: 0px;
                gap: 7px;

                // width: 150px;
                height: 35px;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
                .profile-pic{
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    object-fit: cover;
                }
        }
        
        .gray-text
        {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            /* identical to box height, or 16px */
            width:70%;
            display: flex;
            align-items: center;
            
            /* 灰 */
            
            color: #A5A6A8;
        }
        .likeNumber
        {
            position: relative;
            flex:none;
            order:1;
            flex-grow:0;
            margin-top: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap:6px;
            .heartIcon
            {
                width: 18px;
                border-radius: 0;
            }
        }

    }
    }
}
.profile-info{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 91px;

    width: 220px;
    height: 35px;

}