.home-text-container {
  display: flex;
  flex-direction: column;
}

.home-text-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;

  color: #000000;
}

.home-text-content {
  font-family: "Lora";
  font-style: normal;

  color: #000000;
}
@media (min-width: 1133px) {
  .home-text-container {
    // width: 560px;
    // height: 200px;
  }

  .home-text-title {
    font-size: 35px;
    line-height: normal;
  }

  .home-text-content {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
  }
}
@media (max-width: 1132px) and (min-width: 744px) {
  .home-text-container {
    // width: 560px;
    // height: 200px;
  }

  .home-text-title {
    font-size: 35px;
    line-height: normal;
  }

  .home-text-content {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
  }
}
@media (max-width: 743px) {
  .home-text-container {
    width: 100%;

    align-items: flex-start;
    gap: 10px;
  }

  .home-text-title {
    font-family: "Open Sans";
    font-size: 20px;

    line-height: normal;
  }

  .home-text-content {
    font-family: "Open Sans";
    font-size: 16px;

    font-weight: 400;
    line-height: normal;
  }
}
