@media(max-width: 576px){
    .home-mobile-subText-title{
        width: 150px;
        height: 54px;
        color: #000;
        font-family: Playfair Display;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
    }
    .home-mobile-subText-text{
        margin-top: 10px;
        color: #000;
        /* Body 3 */
        font-family: Lora;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        width: 186px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }
}
@media(min-width:768px){
    .home-mobile-subText-title{
        width: 30vw;
        height: 10vw;
        color: #000;
        font-family: Playfair Display;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
    }
    .home-mobile-subText-text{
        
        color: #000;
        /* Body 3 */
        font-family: Lora;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        width: 35vw;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }
}
