@media (max-width: 576px){
    .home-mobile-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;  
    }
    .home-mobile-intro-container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .home-mobile-intro-pic-container{
        width: 50%;
        flex: 0;
        display: flex; 
        order: 1;  // 新增
    }
    
    .home-mobile-intro-pic{
        width: 280px;
        height: 340px;
        object-fit: cover;
        background: url('../../assets/home/5.svg');
    }
    
    .home-mobile-intro-content-container{
        width: 50%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding:20px;
        gap: 10px;
    }
    
    .home-mobile-intro-button{
        width: 190px;
        height: 50px;
        background-color: white;
        border-radius: 8px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        //justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 35px;
        margin-top: 6px;
        border: 2px solid #352C29;
        .home-mobile-intro-button-text {
            position: relative;
            //bottom: 5px;
            left: 5px;
           
        }
        .home-mobile-intro-button-image {
            width: 15px; /* Adjust the width and height as needed */
            height: 15px;
            margin-top: 2px;
           // margin-left: 10px;
            border-radius: 0;
        }
       
    }
    .home-mobile-share-container{
        width:100%;
        display: flex;
        flex-direction: row;
    }
    .home-mobile-share-pic-container{
        margin-top: 20px;
        width: 100%;
        
    }
   
    .home-mobile-share-pic{
        width: 146px;
        height: 307px;
        left: 0;
        top: 0%;
        bottom: 0%;
        z-index: 0;
        position: relative;
        background: linear-gradient(146.24deg, #FAB25E 0%, #FFA4A3 58.43%);
        border-radius: 0px 1000px 1000px 0px;
    }
    .home-mobile-share-postContainer{
        position: absolute;
        top: 400px;
        left: 0;
        z-index: 1;
    }
    .home-mobile-share-tag1{
        position: absolute;
        z-index: 1;
        top: 395px;
        left: 8px;
    }
    .home-mobile-share-tag4{
        position: absolute;
        z-index: 2;
        top: 505px;
        left: 87px;
    }
    .home-mobile-share-tag2{
        position: absolute;
        z-index: 1;
        top: 650px;
        left: 17px;
    }
    .home-mobile-share-content-container{
        flex: 0;
        display: flex; 
        order: 1;  // 新增
        justify-content: flex-start;
        margin-right: 5%;
        padding-top:30px;   
        flex-direction: column;
        gap: 15px;
    }
    .home-mobile-share-link{
        color: #000;
        /* Interactive 3 */
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }
    .home-mobile-consulting-container{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .home-mobile-consulting-pic{
        width: 146px;
        height:307px;
        right:0;
        position: relative;
        background: linear-gradient(146.24deg, #FAB25E 0%, #FFA4A3 58.43%);
        border-radius: 1000px 0px 0px 1000px;
    } 
    .home-mobile-consulting-doctorPic{
        width: 220px;
        height: 220px;
        position: absolute;
        top: 720px;
        right: 0;
    }
    .home-mobile-name-card
    {
        position: absolute;
        top:940px;
        left: 60%;
        display: flex;
        width: 146px;
        height: 104px;
        padding: 8px 0px 8px 10px;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--unnamed, #FBFCFF);
            .home-mobile-starRatePart{
                display: flex;
                flex-direction: row;
                gap:10px;   
            }
        .card-title{
            color: #000;
            font-family: Lora;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; 
        }
        .card-content{
            color: #000;
            font-family: Lora;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
        }
    }
    .home-mobile-consulting-content{
        left:0;
        position: absolute;
        align-items: flex-start;
        padding:0px 20px;
        gap: 10px;   
    }
    .home-mobile-app-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      //  margin-top: 50px;
        margin-bottom: 50px;
        padding: 10px 0;
    }
    
    .home-mobile-app-background{
        z-index: 0;
        width: 60vw;
        height: 60vw;
        object-fit: cover;
        margin: auto;
        display: flex; //新增
        justify-content: center; //新增
        align-items: center; //新增
        background: url('../../assets/home/ring.svg');
        background-size: cover;
    }
    
    .home-mobile-app-phone{
        z-index: 1;
        position: relative; //新增
        width: 147px;
        height: 286px;
        display: flex; //新增
        justify-content: center; //新增
        align-items: center; //新增
        background: url('../../assets/home/iphone.svg');
        .home-mobile-app-phone-screen{
            z-index: 2;
            position: relative; 
            width: 120px;
            height: 257px;
            object-fit: cover;
            border-radius: 20px;
            background: url('../../assets/home/iphoneScreen.svg');

        }
    }
    .home-mobile-app-button-container{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .home-mobile-app-text{
        display: flex;
        width: 357px;
        height: 77px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
        text-align: center;

        /* Body 3 */
        font-family: Lora;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
    }
    .home-mobile-procedure-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .home-mobile-procedure-title-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:0px 20px;
    }
    
    .home-mobile-procedure-title-container .home-mobile-procedure-title-text{
        display: flex;
        width: 171px;
        height: 27px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
    
        /* Heading 4 */
        font-family: Playfair Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
    }
    
    .home-mobile-procedure-link{
        display: flex;
        width: 82px;
        height: 27px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
        text-align: right;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        text-decoration-line: underline;
        margin-top: 10px;
    }
    
    .home-mobile-procedure-grid{
        display: flex;
        margin: auto;
    
        flex-direction: row;
        justify-content: space-around; 
        padding: 0px 20px;
        grid-gap: 6px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;  
    }
    
    .home-mobile-procedure{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 8px;
    
        width: 20%;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .home-mobile-procedure-pic{
        border-radius: 100%; // 圆角
        width: 70px;
        height: 70px;  
        margin: 0 auto;
    }
    
    .home-mobile-instrument{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 8px;
    
        width: 20%;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .home-mobile-instrument-pic{
        //border-radius: 100%; // 圆角
        width: 85px;
        //height: 70px;  
        margin: 0 auto;
    }

       
}
@media(min-width: 768px){
    .home-mobile-container{
        width: 100%;
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        background-color: white;  
    }
    .home-mobile-intro-container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    // surface pro 
    .home-mobile-intro-pic-container{
        width: 50%;
        flex: 0;
        display: flex; 
        order: 1;  // 新增
    }
    
    .home-mobile-intro-pic{
        width: 100vw;
        height: auto;
        object-fit: cover;
        background: url('../../assets/home/5.png');
    }
    .home-mobile-intro-content-container{
        width: 50%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top:5vw;
        padding-left: 8vw;
        gap: 3vw;
    }
    
    .home-mobile-intro-button{
        width: 27vw;
        height: 8vw;
        background-color: white;
        border-radius: 8px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        //justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 35px;
        margin-top: 6px;
        border: 2px solid #352C29;
        .home-mobile-intro-button-text {
            position: relative;
            //bottom: 5px;
            left: 5px;
           
        }
        .home-mobile-intro-button-image {
            width: 15px; /* Adjust the width and height as needed */
            height: 15px;
            margin-top: 2px;
           // margin-left: 10px;
            border-radius: 0;
        }
       
    }
}