.user-profile-basic-container {
  margin-top: 120px;
  padding-left: 80px;
  padding-right: 140px;

  .image-and-name-and-button-container {
    display: flex;
  }

  .test {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  // user name, edit button
  .user-profile-basic-name-and-editButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 85px;
    width: 100%;
  }

  // profile picture
  .user-profile-image {
    width: 250px;
    height: auto;
    border-radius: 100%;
  }

  // user name
  .user-profile-basic-user-name {
    color: #352c29;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  // @ user name
  .user-profile-basic-create-name {
    color: #352c29;
    font-family: Open Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .user-profile-basic-name {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  // description, followers
  .description-and-followers-container {
    margin-top: 80px;
    margin-left: 50px;
    padding: 0 15px;
    width: 100%;
  }

  .user-profile-buttons-wrapper {
    display: flex;
    column-gap: 1rem;
  }

  .user-profile-basic-booking-button-container {
    border: 2px solid #F48C8A;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  // description
  .user-profile-basic-info-text {
    font-size: 18px;
    margin-top: -50px;
    margin-bottom: 20px;
  }

  // followers
  .user-profile-basic-info-following-section {
    display: flex;
    gap: 20px;
    font-size: 18px;
  }

  // follower numbers
  .user-profile-black-text {
    color: #352c29;
    margin-right: 4px;
  }

  // posts, follower, following texts
  .user-profile-gray-text {
    color: #675d59;
  }
}

@media (min-width: 1441px) {
  .user-profile-image {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1134px) and (max-width: 1440px) {
  .user-profile-image {
    width: 250px;
    height: 250px;
  }
}

/* * * * * * * * *
     1133px 
* * * * * * * * */
@media (max-width: 1133px) {
  // profile picture
  .user-profile-image {
    max-width: 200px;
    height: auto;
  }
}

@media (min-width: 1134px) {
  .user-profile-image {
    width: 200px;
    height: 200px;
  }
}

/* * * * * * * * *
     744px 
* * * * * * * * */
@media (max-width: 744px) {
  .user-profile-basic-container {
    padding: 0 64px;
  }

  .user-profile-basic-avatar {
    width: 100%;
  }

  .user-profie-image {
    width: 178px;
    height: auto;
  }

  .user-profile-basic-name-and-editButton {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .user-profile-basic-edit-button {
    margin-top: 30px;
  }

  // .user-profile-basic-name {
  //   gap: 0 !important;
  // }
}

/* * * * * * * * *
     iphones 
* * * * * * * * */
// @media (max-width: 530px) {
//   .user-profile-basic-container {
//     display: flex;
//     flex-direction: column;
//     margin-top: 80px;
//     padding-left: 30px;
//     padding-right: 70px;
//   }

//   // user profile image, user name, edit button
//   .image-and-name-and-button-container {
//     display: flex;
//     justify-content: space-between;
//   }

//     // user name, edit button
//     .user-profile-basic-name-and-editButton {
//       margin-left: -200px !important;
//       width: 0 !important;
//     }

//   // profile picture
//   .user-profile-image {
//     max-width: 120px;
//     height: auto;
//   }

//   // user name
//   .user-profile-basic-user-name {
//     font-size: 24px !important;
//   }

//   // @ user name
//   .user-profile-basic-create-name {
//     font-size: 18.734px !important;
//   }

//   // user profile image
//   .user-profile-image {
//     width: 120px;
//     height: 120px;
//   }

//   // description, followers
//   .description-and-followers-container {
//     margin-top: 30px;
//     margin-left: -340px !important;
//     padding: 0 15px;
//   }

//   // description
//   .user-profile-basic-info-text {
//     margin-top: -50px;
//     margin-bottom: 20px;
//   }

//   // followers
//   .user-profile-basic-info-following-section {
//     display: flex;
//     gap: 20px;
//   }

//   // follower numbers
//   .user-profile-black-text {
//     color: #352c29;
//     margin-right: 4px;
//   }

//   // posts, follower, following texts
//   .user-profile-gray-text {
//     color: #675d59;
//   }
// }
