.appointment-stripe-page-container {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
}

.appointment-stripe-page-title-container {
    width: 87%;
    padding-top: 4rem;
}