.close-button-modal {
  .modal-content {
    background-color: transparent;
    border: none;
  }
}

.first-modal-content {
  background-color: transparent;
}

.modal-dialog {
  margin: 0.5rem auto;
  max-width: 100%;
  width: auto;
}
// add css
.custom-modal-size {
  --bs-modal-width: 80vw; /* 视口宽度的70% */
  --bs-modal-height: 90vh; /* 视口高度的90% */
}

.custom-modal-size .modal-dialog {
  max-width: var(--bs-modal-width);
  margin: 5vh auto; /* 垂直居中 */
}

.custom-modal-size .modal-content {
  height: var(--bs-modal-height);
  display: flex;
  flex-direction: column;
}

.custom-modal-size .modal-body {
  overflow-y: auto; /* 如果内容超过高度，会有滚动条 */
  flex-grow: 1; /* 允许modal-body填充剩余空间 */
}

.modal-content {
  width: 70%;
  height: 90%;
  margin: 0 auto;
  border-radius: 25px;

  // x icon
  .modal-content-close-button-container {
    position: relative;
    top: -1rem;
    right: -9.6rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }
}

.modal-content-main-container {
  border: 10px solid white;
  border-radius: 50px;
}

@media (max-width: 744px) {
  .modal-content-main-container {
    border: none;
  }
}
