@media (min-width: 1024px){
    .home-doctors-container {
        //top: 2350px;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        position: relative;
        width: 100%; 
        margin-bottom: 100px;
    }
    .home-doctors-background{
        transform: scale(0.8);  
        background-size: 100% 100%; 
        width: 100%; 
        height: 40vw;
        padding: 80px 0px; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .home-doctor-apple-section {
        width: 30vw;
        height: 90px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        //margin-left: 0vw;
        //padding: 50px; 
        //box-sizing: border-box; 
        display: flex;

    }
    .home-doctor-video {
        position: absolute;
        right:6%;
        left:6%;
        top: 3.5vw;
        border-radius:5px;
        overflow: hidden;
    }
    .phone-image-background
    {
        border-radius: 594px;
        background: var(--new-gradient, linear-gradient(90deg, #F48C8A 0%, #F0A484 100%));
        width: 500px;
        height: 500px;
        flex-shrink: 0;
        z-index: 1;
        position: absolute;
        left:-230px;
        top:100px;
    }
    
   
    .home-doctor-apple-screen {
        display: flex;
        align-items: center;
        height: 896px;
        background: #FBFCFF;
    }
    .phone-screen {
        border-radius: 40px;
        position: absolute;
        top: 80px;
        left: 50px;
    }
    .phone-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        height:600px;
        pointer-events: none;
        width:110vh;      
        position: absolute;
        top:-40px;
        left:-150px; 
    }
    .home-doctors-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -120px;
       // padding: 120px 0px;
        //position: absolute;
       // top: 550px;
    }
    .home-doctors-button{
        margin-top: 40px;
    }
     // For the mobile version
     .home-mobile-app-background{
        display: none;
    }
    .home-mobile-app-phone{
        display: none;
        .home-mobile-app-phone-screen{
            display: none;
        }
    }
    .home-doctor-apple-link-signUp-area
    {
        display: flex;
        gap:200px;
        width:100%;
        margin-top: 50px;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }
    .signUp-link
    {
        display: flex;
        flex-direction: row;
        gap:50px;
        color: var(--text-1-footer, #352C29);
        text-align: right;
        /* NEW TYPE/NEW sub title */
        font-family: 'Open Sans';
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .home-doctor-apple-link-section
    {
        border-radius: 12px;
        width: 640px;
        height: 240px;
        border: 4px solid var(--new-gradient, #F48C8A);
        margin-left: 500px;
        margin-top:-100px;
        position: relative;
        overflow: hidden;
        display: flex;
        .home-doctor-apple-link-subArea1
        {
            margin-left: -600px;
            margin-top: -350px;
            border-radius: 973px;
            width: 973px;
            height: 973px;
            background: linear-gradient(90deg, #F48C8A 0%, #F0A484 100%);
        }
        .home-doctor-apple-link-subArea2
        {
            border-radius: 12px;
            width:150px;
            margin-top: 30px;
            margin-left: 50px;
            height:150px;
            background: var(--avatar-color-image, #E2E3E7);
        }
        .home-doctor-apple-link-left-area
        {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            width:100%;
        }
        .home-doctor-apple-link-textArea
        {
            position: absolute;
            margin-left: 100px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            width:100%;
            align-items: center;
            margin-top: 60px;
            margin-left: -170px;
        }
        .apple-link-text1
        {

            color: var(--White, #FBFCFF);
            /* gradient button text shadow */
            text-shadow: 0px 2px 2px rgba(48, 48, 48, 0.10);
            /* NEW TYPE/NEW title */
            font-family: Open Sans;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .apple-link-text2
        {
            color: var(--White, #FBFCFF);
            /* gradient button text shadow */
            text-shadow: 0px 2px 2px rgba(48, 48, 48, 0.10);
            /* NEW TYPE/NEW body1 */
            font-family: Open Sans;
            font-size: 21px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .home-doctor-left-area-arrow
        {
            position: absolute;
            top:80px;
            left:300px;
        }
        .home-doctor-apple-link-signUp-area
        {
            display: flex;
        }

    }
}
// ipad
@media (min-width: 768px) and (max-width: 1023px){
    .home-doctors-container {
        //top: 2350px;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        position: relative;
        width: 100%; 
        margin-bottom: 80px;
    }
    .home-doctors-background{
        transform: scale(0.8);  
        background-size: 100% 100%; 
        width: 100%; 
        height: 95vw;
        padding: 80px 0px; 
        background-repeat: no-repeat; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .home-doctor-apple-section {
        width: 40vw;
        height: 90px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        margin-left: -4.5vw;
        //padding: 50px; 
        //box-sizing: border-box; 
        position: relative; 
    }
    .home-doctor-video {
        position: absolute;
        right:6%;
        left:6%;
        top: 3.5vw;
        border-radius:5px;
        overflow: hidden;
    }
   
    .home-doctor-apple-screen {
        display: flex;
        align-items: center;
        height: 896px;
        background: #FBFCFF;
    }
    .phone-screen {
        border-radius: 40px;
        position: absolute;
        top: 80px;
        left: 50px;
    }
    .phone-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        pointer-events: none;
        width:110vh;       
    }
    .home-doctors-text{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // padding: 120px 0px;
        // position: absolute;
        // top: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -80px;
    }
    .home-doctors-button{
        margin-top: 40px;
    }
     // For the mobile version
     .home-mobile-app-background{
        display: none;
    }
    .home-mobile-app-phone{
        display: none;
        .home-mobile-app-phone-screen{
            display: none;
        }
    }
}
@media(max-width: 767px){
    .home-doctors-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        padding: 10px 0;
    }
    // For the mobile version
    .home-mobile-app-background{
        z-index: 0;
        width: 60vw;
        height: 60vw;
        object-fit: cover;
        margin: auto;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        background: url('../../../assets/home/ring.svg');
        background-size: cover;
    }
    .home-mobile-app-phone{
        z-index: 1;
        position: relative; 
        width: 147px;
        height: 286px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        background: url('../../../assets/home/iphone.svg');
        .home-mobile-app-phone-screen{
            z-index: 2;
            position: relative; 
            width: 120px;
            height: 257px;
            object-fit: cover;
            border-radius: 20px;
            background: url('../../../assets/home/iphoneScreen.svg');

        }
    }
    .home-mobile-app-button-container{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .home-mobile-app-text{
        display: flex;
        width: 357px;
        height: 77px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
        text-align: center;
        font-family: Lora;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
    }
}
