.doctor-post-outer-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 64px;
}
.doctor-post-header-container{
    width: 100%;
    height: 80px;
    /* 白 */

   background: #FBFCFF;
    /* 银灰 */

   border-bottom: 1px solid #E2E3E7;
   display: flex;
   flex-direction: row;
   padding-top: 20px;
   padding-left: 40px;
   gap:32px;
}
.doctor-post-content-container{
    width:100%;
    height: 70%;
    margin-left:140px;
    z-index: -1;
}
.community-area
{
    height:1092px;
}

.post-download-div {
    position: absolute;
    width: 100%;
    top: 1592px;
    text-align: center;
    padding-bottom: 40px;

    .post-download-icon {
        width: 32px;
        height: 43.43px;
        margin-bottom: 20px;
    }

    .post-download-txt {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        /* identical to box height, or 16px */
        color: #A5A6A8;
        margin-bottom: 40px;
    }
}