.create-post-button {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  border-radius: 8px;
  background: linear-gradient(90deg, #f48c8a 0%, #f0a484 100%);
  padding: 12px 25px;
  // height: 41px;
}
