.doctor-profile-appointment-setting-tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 150px;

  .doctor-profile-appointment-setting-tab-inner-container-1,
  .doctor-profile-appointment-setting-tab-inner-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid #675d59;
    border-radius: 12px;
    width: 1280px;
    height: 600px;

    .doctor-profile-appointment-setting-tab-calendar {
      background: lightgrey;
      border-radius: 10px;
      width: 336px;
      height: 267px;
    }

    .doctor-profile-appointment-setting-tab-right-container {
      margin-top: -50px;

      .doctor-profile-appointment-setting-tab-title-1 {
        color: #352c29;
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .doctor-profile-appointment-setting-tab-dropdown-container-1 {
        display: flex;

        .doctor-profile-appointment-setting-tab-select-day-dropdown-container,
        .doctor-profile-appointment-setting-tab-select-ending-day-dropdown-container {
          select {
            border: 1px solid #675d59;
            border-radius: 6px;
            background: #fbfcff;
            margin-right: 15px;
            padding: 10px;
            width: 330px;
          }
        }
      }

      .doctor-profile-appointment-setting-tab-dropdown-container-2 {
        display: flex;
        padding: 20px 0;

        .doctor-profile-appointment-setting-tab-select-time-dropdown-container,
        .doctor-profile-appointment-setting-tab-select-ending-time-dropdown-container {
          select {
            border: 1px solid #675d59;
            border-radius: 6px;
            background: #fbfcff;
            margin-right: 15px;
            padding: 10px;
            width: 256px;
          }
        }

        .doctor-profile-appointment-setting-tab-select-time-zone-dropdown-container {
          select {
            border: 1px solid #675d59;
            border-radius: 6px;
            background: #fbfcff;
            margin-right: 15px;
            padding: 10px;
            width: 130px;
          }
        }
      }

      .doctor-profile-appointment-setting-tab-dropdown-container-3 {
        .doctor-profile-appointment-setting-tab-select-appointment-time-period-dropdown-container {
          select {
            border: 1px solid #675d59;
            border-radius: 6px;
            background: #fbfcff;
            padding: 10px;
            width: 673px;
          }
        }
      }
    }
  }
  .doctor-profile-appointment-setting-tab-inner-container-2 {
    display: flex;
    flex-direction: column;

    // edit consultation title
    .doctor-profile-appointment-setting-tab-title-2 {
      color: #352c29;
      font-family: Open Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-left: 300px;
      width: 100%;
    }

    .doctor-profile-appointment-setting-tab-video-consultation-container,
    .doctor-profile-appointment-setting-tab-voice-consultation-container,
    .doctor-profile-appointment-setting-tab-phone-consultation-container {
      display: flex;
      align-items: center;
      gap: 200px;

      .doctor-profile-appointment-setting-tab-video-consultation-title,
      .doctor-profile-appointment-setting-tab-voice-consultation-title,
      .doctor-profile-appointment-setting-tab-phone-consultation-title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #352c29;
        font-family: Open Sans;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .doctor-profile-appointment-setting-tab-video-consultation-status,
      .doctor-profile-appointment-setting-tab-voice-consultation-status {
        color: #675d59;
        border: 2px solid #675d59;
        border-radius: 8px;
        padding: 8px 16px;
      }

      .doctor-profile-appointment-setting-tab-phone-consultation-status {
        color: #fff;
        border: 2px solid #675d59;
        background: #675d59;
        border-radius: 8px;
        padding: 8px 16px;
      }
    }
  }

  .doctor-profile-appointment-setting-tab-video-consultation-input,
  .doctor-profile-appointment-setting-tab-voice-consultation-input,
  .doctor-profile-appointment-setting-tab-phone-consultation-input {
    border: 1px solid #675d59;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    width: 667px;
  }
}

@media (max-width: 1133px) {
}

@media (max-width: 744px) {
}
