.community-post-search-box-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;

  .community-post-search-box-input {
    background: transparent;
    border-bottom: 1px solid #352c29;
    outline: none;
    padding: 3px 6px;
    width: 260px;
    height: 30px;
  }

  .community-post-search-box-icon {
    margin-top: -25px;
  }
}
