// .community-post-search-box-container {
//   position: relative;
//   display: flex;
//   background-color: white;
//   border: 1px solid #675d59;
//   border-radius: 6px;
//   margin-left: auto;
//   padding: 8px;
// }

.mobile-search-button {
  margin-left: auto;
}

.community-post-search-box-input {
  position: relative;
  background: white;
  // border-radius: 5px;
  border: none;
  // border: 1px solid #675d59;
  outline: none;
  padding: 0 6px;
  width: 500px;
  // height: 40px;
}

.search-input-container {
  background: #ffffff;
  border: 1px solid #675d59;
  border-radius: 6px;
  padding: 6px;
}

// .community-post-search-box-container.active::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   border: 1px solid #675d59;
//   border-radius: 5px;
//   pointer-events: none;
// }

.search-dropdown-container {
  position: absolute;
  margin: 45px 0 0 -10px;
}

@media (max-width: 1133px) {
  .community-post-search-box-input {
    width: 350px !important;
  }
}

@media (max-width: 744px) {
  // .community-post-search-box-container {
  // }
}
