.sub-procedure-reference{
    width: 800px;
    height: 145px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    color: #000000;

    
}