.post-detail-mobile-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    .post-detail-mobile-profile-container
    {
       margin-top: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        justify-content: space-between;
        padding:0px 10px;
        .post-detail-mobile-profile
        {
            align-items: center;
            justify-content: center;
            display: flex;
            gap:10px;
        }
        .post-detail-mobile-avatar
        {
            width:35.84px;
            height:35.84px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .post-detail-mobile-text-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap:20px;
        margin-bottom: 20px;
    }
    .post-detail-mobile-comment-container
    {
        border-top: 1px solid rgba(226, 227, 231, 1);
    }
    .post-detail-mobile-download-button
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:10px;
        margin-bottom: 50px;
        border-top: 1px solid rgba(226, 227, 231, 1);
        .join-community-text
        {
            font-size: 14px;
            font-weight:500px;
            line-height: 25.6px;
            font-family: 'Open Sans';
        }
    }
}