// @media (min-width: 1133px) {
.home-component-container {
  background: linear-gradient(
    180deg,
    #fff2ed 24.48%,
    rgba(255, 248, 244, 0) 100%
  );
  mix-blend-mode: multiply;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  // margin-bottom: 150px;
  margin-top: 64px;
}

.home-mobile-intro-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  // display: block;
}

.home-mobile-app-container {
  display: none;
}

.home-mobile-intro-pic-container {
  width: 45vw;
}

.home-pic {
  width: 100%; /* Set width to 100% */
  height: auto; /* Set height to auto */
  border-radius: 0px 0px 0px 1000px;
}
.home-title-inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0px 0px 45px;
}
.home-title-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 60%;
  // height: 450px;
  // .home-title-text {
  //   text-align: left;
  //   display: flex;
  //   flex: 1;
  //   flex-direction: column;
  //   // margin-top: 100px;
  //   // margin-left: 40px;
  //   font-style: normal;
  //   font-weight: 700;
  //   //font-size: 56px;
  //   font-size: 5vw;
  //   line-height: 135%;
  //   color: #000000;
  //   margin-bottom: 30px;
  // }
  .home-title-subText {
    // margin-left: 48px;
    .ptext {
      font-family: "Lora";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      // font-size: 1.8vw;
      line-height: 160%;
      color: #000000;
    }
  }
  .home-title-buttons {
    //position: absolute;
    // margin-top: 10px;
    flex: none;
    order: 3;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    // gap: 48px;
    //left: 0px;
    //top: 600px;
    // padding: 8px 40px;

    .home-title-button1 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      // font-size: 22px;
      line-height: 140%;
      color: #ffffff;
      // width: 238px;
      height: 56px;
      background: #352c29;
      border-radius: 8px;
    }
    .home-title-button2 {
      // width: 270px;
      // height: 56px;
      //width: 15vw;
      //height: 5vw;
      border-radius: 8px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      //font-size: 2.2vw;
      line-height: 140%;
      margin-right: 10px;
      border: 2px solid var(--new-gradient, #f48c8a);
      color: var(--new-gradient, #f48c8a);
      display: flex;
      flex-direction: row;
      // gap: 15px;

      .button-text {
        position: relative;
        // bottom: 25px;
        // left: 15px;
        //bottom: 2.5vw;
        //left: 1.5vw;
      }
    }
  }
}

.home-title {
  font-size: 43px;
  font-weight: 600;
  color: #333333;
  line-height: 50px;
  margin: 122px auto 0;
  text-align: center;
}

.home-divider {
  width: 10%;
  height: 6px;
  background: #3397b9;
  opacity: 1;
  border-color: #3397b9;
  border-radius: 3px;
  margin: 15px auto 60px;
}

.video-container {
  width: 80%;
  margin: 80px auto 0;

  .video {
    width: 100%;
    height: 450px;
  }
}
.home-title-text {
  font-family: "Open Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 1440px) {
}
@media (min-width: 1133px) and (max-width: 1440px) {
  .home-title-button2 {
    // padding: 12px 40px;
    // width: 150px;
    height: 56px;
    padding: 8px 40px;
  }
}

/* Styles for tablets like iPads here */
@media (min-width: 768px) and (max-width: 1132px) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-color: white;
    position: relative;
    // top: 64px;
  }
  .home-mobile-intro-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 500px;
  }
  // .home-mobile-intro-pic-container {
  //   width: 65vw;
  //   flex: 0;
  //   display: flex;
  //   order: 1; // 新增
  // }
  .home-pic {
    position: absolute;
    width: 45vw;
    height: auto;
    right: 0;
    top: 0;
    //background: url('../../assets/home/home-pic1.png');
    border-radius: 0px 0px 0px 1000px;
  }
  .home-title-container {
    width: 30vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px 45px;
    // gap: 10px;
  }
  .home-title-inner-container {
    padding: 16px 0px 0px 0px;
    width: 45vw;
  }

  .home-title-text {
    // text-align: left;
    // font-style: normal;
    // font-weight: 700;
    font-size: 35px;
    // line-height: 135%;
    // color: #000000;
    // flex: none;
    // flex-grow: 0;
  }
  .home-title-subText {
    width: 48vw;
    // height: 116px;
    margin-left: 0px;

    .ptext {
      font-family: "Lora";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #000000;
    }
  }
  .home-title-buttons {
    // padding: 8px 0px;
    margin-left: -40px;
  }

  .home-title-button1 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #ffffff;
    // width: 238px;
    height: 54px;
    background: #352c29;
    border-radius: 8px;
  }
  // .home-title-button2 {
  //   // width: 270px;
  //   height: 54px;
  //   // background-color: white;
  //   border-radius: 8px;
  //   font-family: "Open Sans";
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 22px;
  //   line-height: 140%;
  //   margin-right: 10px;
  //   border: 2px solid #352c29;

  //   // .button-text {
  //   //   position: relative;
  //   //   bottom: 25px;
  //   //   left: 15px;
  //   // }
  //   .button-image {
  //     width: 20px; /* Adjust the width and height as needed */
  //     height: 20px;
  //     margin-top: 15px;
  //     margin-left: 20px;
  //     border-radius: 0;
  //   }
  // }
}

/* Styles for tablets like iPhone here */
@media (max-width: 767px) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .home-mobile-intro-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .home-mobile-intro-pic-container {
    width: 65vw;
  }

  .home-pic {
    width: 100%;
  }
  .home-title-container {
    width: 35vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px 15px;
  }
  .home-title-inner-container {
    padding: 16px 0px 0px 0px;
    margin-top: 60vw;
    max-width: 35vw;
  }

  .home-title-text {
    font-size: 35px;
    width: 80vw;
  }
  .home-title-subText {
    margin-left: 0px;
    width: 90vw;
  }
  .home-title-buttons {
    gap: 16px;
  }

  .home-title-button1 {
    font-size: 18px;
  }
  .home-title-button2 {
    width: 160px;
    gap: 10px;
    height: 46px;

    .button-image {
      width: 15px;
      height: 15px;
      margin-top: 15px;
      margin-left: 10px;
    }
    .button-text {
      font-size: 15px;
      margin-top: 10px;
    }
  }
}
