// screen bigger than 1025px
.post-dropdown-filter-container {
  position: relative;
}

// dropdown box
.post-dropdown-filter-search-container,
.post-dropdown-location-filter-search-container {
  position: absolute;
  background: #fbfcff;
  border-radius: 8px;
  border: 1px solid #675d59;
  padding: 0 40px;
  width: 330px;
  height: 260px;
}

// tag dropdown box position
.post-dropdown-filter-search-container {
  top: 0;
  left: 16px;
}

// location dropdown position
.post-dropdown-location-filter-search-container {
  top: 0;
  right: 14px;
}

.post-dropdown-filter-search-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.search-reverse {
  flex-direction: row-reverse;
}

.search-result {
  .search-result-title {
    color: #675d59;
  }

  p {
    color: #352c29;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 14px;
    margin-bottom: 0;
    padding: 3px;
  }

  .search-result-list {
    border-bottom: 1px solid #e2e3e7;
    padding: 6px 0;
  }
}

.search-geolocation-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

// screen 769px to 1024px
@media (max-width: 1024px) {
}

// small screens
@media (max-width: 768px) {
}
