
@media(min-width: 1200px){
    .Home-doctor-page {
        width: 100%;
        background:white;
        position: relative;
        // width: 1440px;
        // height: 800px;
        left: 0px;
        // top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .home-doctor-page-container
        {
            object-fit: cover;
            order:0;
            display: flex;
            flex-direction: column;
            height: 400px;
            top: 0;
            left:0;
            width: 600px;
            background: #FEFFFF;
            margin-top: 200px;
            margin-right: 80px;
            margin-left: 100px;
            justify-content: center;
            .home-doctor-page-text
            {
                width:560px;
                height: 64px;
                .home-doctor-page-text1{
                    
                    font-family: 'Playfair Display';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 68px;
                    line-height: 100%;
                    /* identical to box height, or 64px */
                    display: flex;
                    align-items: center;
                    color: #000000;
            }
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }
        .home-doctor-page-subText
        {
                width: 560px;
                height: 145px;
                flex: none;
                order: 1;
                flex-grow: 0;
                margin-top: 40px;
                .doctor-page-post-Text
                {
                    font-family: 'Lora';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 160%;
                    color: #000000;
                }     
        }
        .home-doctor-page-link
        {
            width: 400px;
            height: 35px;
            left:800px;
            flex: none;
            order: 2;
            flex-grow: 0;
            display: flex;
            flex-direction: row;
            .underline-link
            {
                width: 201px;
                height: 35px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 160%;
                /* or 35px */
                color: #352C29;
            }
         }
        }
        .home-doctor-page-pic
        {
            order: 1;
            width: 1000px;
            height:650px;
            left:0;
            top: 6%;
            bottom: 0%;
            position: relative;
            background: linear-gradient(146.24deg, #FAB25E 0%, #FFA4A3 58.43%);
            border-radius: 1000px 0px 0px 1000px;
    
            .doctor-page-img
            {
                position: absolute;
                width: 498px;
                height: 720px;
                left: 0px;
                top: 30px;  
                border: none;
                // background-image: url('../../assets/home/doctor-img.png');
                // mask-image: linear-gradient(to top, transparent, black);
               
                
            }
    
    
            .doctor-page-name-card
            {
                position:absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 8px 80px 8px 16px;
                gap: 8px;
                position: absolute;
                width: 416px;
                height: 149px;
                right: 0px;
                top: 660px;
                background: rgba(254, 255, 255, 0.2);
                border-radius: 8px;
                .starRatePart{
                    display: flex;
                    flex-direction: row;
                    gap:10px;
                    margin-top:-10px;
                }
            }
            
        }
        //////
    }
    // for mobile doctor card
    .card-title{
        display:block;
    }
    .card-content{
        display:block;
    }
    .home-mobile-share-link{
        display: block;
    }

}
@media(min-width: 1024px) and (max-width: 1119px){
    .Home-doctor-page {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .home-doctor-page-pic {
        order: 1;
        width: 452px;
        height: 534px;
        right: 0;
        top: 1800px;
        bottom: 0%;
        position: absolute;
        background: linear-gradient(146.24deg, #FAB25E 0%, #FFA4A3 58.43%);
        border-radius: 50vw 0px 0px 50vw;
        .doctor-page-img {
            position: relative;
            width: 553px;
            height: 553px;
            //top: 3vh;
           // margin-top: -300px;
        }
        .doctor-page-name-card {
            position:absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 2vh 4vw 1vh 2vw;
            gap: 1vh;
            position: absolute;
            width: 320px;
            height: 160px;
            right: 0;
            top: 400px;
            //background: rgba(254, 255, 255, 0.2);
            border-radius: 1vw;
            background-color: #FBFCFF;
            .starRatePart{
                display: flex;
                flex-direction: row;
                gap: 1vw;
                margin-top: -1vh;
            }
        }   
    }
    .home-doctor-page-container{
        left:0;
        position: absolute;
        align-items: flex-start;
        padding:0px 36px;
        gap: 10px;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .Home-doctor-page {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .home-doctor-page-pic {
        order: 1;
        width: 452px;
        height: 534px;
        right: 0;
        top: 1300px;
        bottom: 0%;
        position: absolute;
        background: linear-gradient(146.24deg, #FAB25E 0%, #FFA4A3 58.43%);
        border-radius: 50vw 0px 0px 50vw;
        .doctor-page-img {
            position: relative;
            width: 553px;
            height: 553px;
            //top: 3vh;
           // margin-top: -300px;
        }
        .doctor-page-name-card {
            position:absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 2vh 4vw 1vh 2vw;
            gap: 1vh;
            position: absolute;
            width: 320px;
            height: 160px;
            right: 0;
            top: 400px;
            //background: rgba(254, 255, 255, 0.2);
            border-radius: 1vw;
            background-color: #FBFCFF;
            .starRatePart{
                display: flex;
                flex-direction: row;
                gap: 1vw;
                margin-top: -1vh;
            }
        }   
    }
    .home-doctor-page-container{
        left:0;
        position: absolute;
        align-items: flex-start;
        padding:0px 36px;
        gap: 10px;
    }
}
@media(max-width:767px){
    .Home-doctor-page{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .home-doctor-page-pic{
        width: 146px;
        height:307px;
        right:0;
        position: relative;
        background: linear-gradient(146.24deg, #FAB25E 0%, #FFA4A3 58.43%);
        border-radius: 1000px 0px 0px 1000px;
    }
    .doctor-page-img{
        width: 220px;
        height: 220px;
        position: absolute;
        top: 720px;
        right: 0; 
    }
    .doctor-page-name-card{
        position: absolute;
        top:940px;
        left: 60%;
        display: flex;
        width: 146px;
        height: 104px;
        padding: 8px 0px 8px 10px;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FBFCFF; 
    }
    .starRatePart{
        display: flex;
        flex-direction: row;
        margin-top: -15px;
    }
    .card-title{
        color: #000;
        font-family: Lora;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; 
    }
    .card-content{
        color: #000;
        font-family: Lora;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
    }
    .home-doctor-page-container{
        left:0;
        position: absolute;
        align-items: flex-start;
        padding:0px 20px;
        gap: 10px;
    }
    .home-doctor-page-text{
        display: none;
    }
    .home-doctor-page-text1{
        display: none;
    }
    .home-doctor-page-subText{
        display: none;
    }
    .doctor-page-post-Text{
        display: none;
    }
    .home-doctor-page-link{
        display: none;
    }
    // For the mobile version(576px)
    .home-mobile-share-link{
        color: #000;
        /* Interactive 3 */
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }
    
    
}

