// .custom-size .modal-dialog {
//     max-width: 1500px; /* Set your desired width */
//     width: 100%; /* Set your desired width */
//     max-height: 800px; /* Set your desired height */
//     height: 100%; /* Set your desired height */
//   }
.post-detail-close-button
{
    position:absolute;
    right:0;
    top:0px;
    border:none;
    padding:10px 20px;
    
    

.btn-close
{
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color:white;
}
}
