.home-button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
    width: 238px;
    height: 56px;
    background: #352C29;
    border-radius: 8px;
}