@media screen and (max-width: 992px) {

    .home-mobile-dropdownV2 {
      z-index: 999;
      position: fixed;
      top: 50px;
      left: 50%;
      width: 50%;  /* 设置宽度为页面的 63% */
      height: 199px;
      flex-shrink: 0;
      //background-color: white;
    }
    
    .home-mobile-dropdownV2 li {
      background: white;
      cursor: pointer;
      list-style: none; /* add this to remove the bullet points */
      height: 83px;
      border: 1px solid grey;  
      display: flex ;
      justify-content: center ;
      align-items: center ;
     
    }
    
    .home-mobile-dropdownV2.clicked {
      display: none;
    }
    .home-mobile-dropdownV2-link{
        display: flex;
        width: 115.789px;
        height: 17.465px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #352C29;
        text-align: center;
        /* Interactive 2 */
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }
    
    
  }