.header-container {
  position: absolute;
  z-index: 100;
  background: #fbfcff;
  border-bottom: 1px solid #e2e3e7;
  padding: 10px 30px;
  width: 100%;

  .header-inner-container {
    display: flex;
    justify-content: space-between;

    .header-logo-and-nav-container {
      display: flex;
      align-items: center;
      gap: 30px;

      .header-logo-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .logo {
          width: 40px;
          height: 40px;
        }

        .logo-title {
          color: #352c29;
          font-family: 'Open Sans';
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      .header-nav-container {
        display: flex;
        gap: 40px;
        color: #675d59;
        font-family: 'Open Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  .header-login-icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.header-nav-link {
  text-decoration: none;
  transition: 200ms all;
  border-bottom: 4px solid transparent;
  padding: 6px 0;
}

.active-link {
  border-bottom: 4px solid #f48c8a;
}

.header-nav-link:hover {
  color: #352c29;
}

@media (max-width: 744px) {
  .header-container {
    .header-inner-container {
      .header-logo-and-nav-container {
        .header-nav-container {
          gap: 15px;
        }
      }
    }
  }
}

// * * * previus codes are here
// .header-navbar {
//   display: none;
// }

// .header-container {
//   width: 100%;
//   background: #FBFCFF;
//   display: flex;
//   justify-content: space-between;
//   border: 0;
//   position: absolute;
//   height: 64px;
//   left: 0%;
//   right: 0%;
//   top: 0px;
//   z-index: 999;
//   position: fixed;
//   align-items: center;
//   border-bottom: 1px solid var(--avatar-color-image, #e2e3e7);
//   padding-right: 50px;

//   .header-logo-container {
//     display: flex;
//     order: 0;
//     // width: 37.83px;
//     // height: 40px;
//     // left: 40px;
//     // top: calc(50% - 40px/2);
//     padding-left: 50px;
//     align-items: center;
//     .logo {
//       height: 40px;
//       width: 37.83px;
//       object-fit: contain;
//     }
//     .logo-title {
//       margin-left: 8px;
//       font-size: 24px;
//       font-weight: 700;
//       color: #352c29;
//     }
//   }

//   .header-nav-container {
//     order: 1;
//     display: flex;
//     list-style: none;
//     height: 100%;
//     align-items: center;
//     margin-left: 40px;
//     .header-nav {
//       margin: 0 20px;
//       flex: 1;
//       height: 100%;
//     }

//     .header-nav-link {
//       padding: 6px 0;
//       font-family: 'Open Sans';
//       font-style: normal;
//       font-size: 16px;
//       font-weight: 400;
//       line-height: 140%;
//       color: #675d59;
//       text-decoration: none;
//       height: max-content;
//       transition: 200ms all;
//       border-bottom: 4px solid transparent;
//       text-align: center;
//       &::after {
//         display: block;
//         content: attr(title);
//         font-weight: bold;
//         height: 0;
//         overflow: hidden;
//       }
//       &:hover,
//       :active {
//         font-weight: bold;
//         /* 鼠标悬停时变为粗体 */
//         border-bottom: 4px solid #f48c8a;
//         /* 鼠标悬停时添加下划线，使用橙色线条 */
//         // color: #F48C8A; // 鼠标悬停时的文本颜色
//       }
//     }

//     .active-link {
//       font-weight: bold;
//       border-bottom: 4px solid #f48c8a;
//       // font-weight:bold;
//       // font-size: 18px;
//       // padding-bottom: 11px;
//       // background-image: linear-gradient(90deg, #FFA4A3 0%, #FAB25E 100%);
//       // background-size: 100% 2px; /* This ensures the gradient is only 2px tall */
//       // background-repeat: no-repeat; /* Prevents the gradient from repeating */
//       // background-position: bottom; /* Positions the gradient at the bottom */
//       // border-bottom: 2px solid transparent; /* This ensures space for our gradient */
//     }
//   }

//   .header-nav-link:hover {
//     color: #352c29;
//   }

//   .header-nav-link:focus {
//     color: #352c29;
//   }

//   .dropdown-menu {
//     background: rgba($color: #ffffff, $alpha: 0.8);
//     border: 0;
//     border-radius: 0;
//     text-align: center;
//     padding: 0;
//   }

//   .dropdown-center {
//     display: flex;
//     list-style: none;
//     align-items: center;
//   }

//   .dropdown-center:hover .dropdown-menu {
//     display: block;
//     animation: fadeIn;
//     animation-duration: 0.6s;
//   }

//   .header-nav-divider {
//     font-size: 10px;
//     color: #666666;
//     margin: 0 20px;
//   }
// }

// @media (max-width: 992px) {
//   .header-container-mobile {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     width: 100%;
//     height: 55px;
//     border-bottom: 1px solid rgba(53, 44, 41, 1);
//     background-color: rgba(251, 252, 255, 1);
//     position: absolute;
//     z-index: 100;

//     .header-menuBarIcon-container-mobile {
//       align-items: center;
//       width: 33%;
//       order: 0;
//       position: relative;
//       order: 1;
//     }
//     .header-menu-bar-mobile-container {
//       border-radius: 0px;
//       margin-top: 11%;
//       width: 190%;
//       align-content: center;

//       border-left: 1px solid black;
//       border-right: 1px solid black;
//       padding: 0px;
//       position: absolute;
//       top: -10px;
//       background-color: rgba(251, 252, 255, 1);
//     }
//     .header-menu-bar-item-mobile {
//       text-align: center;
//       height: 50px;
//       align-items: center;
//       justify-content: center;
//       display: flex;
//       border-bottom: 1px solid black;
//       font-family: 'Open Sans';
//       font-weight: 600;
//       size: 18px;
//       line-height: 18px;
//     }
    
//     .header-logo-container-mobile {
//       position: relative;
//       display: flex;
//       align-items: center;
//       order: 1;
//       margin-left: 18%;
//       width: 33%;

//       .logo {
//         object-fit: contain;
//         width: 37.83px;
//         height: 40px;
//       }
//     }

//     .header-login-container-mobile {
//       align-items: center;
//       display: flex;
//       justify-content: flex-end;
//       position: relative;
//       width: 33%;
//       order: 2;
//       // margin-top: -20px;
//     }
//     .header-logo-container-mobile .active {
//       order: 1;
//       width: 33%;

//       align-items: center;

//       // left: 90px;
//       // top:100px;
//       margin-left: 18%;
//       margin-top: 2%;
//       position: relative;
//       background-color: black;
//       .logo {
//         height: 40px;
//         width: 37.83px;
//         object-fit: contain;
//         color: white;
//       }
//     }
//   }

//   //   .header-container {
//   //     .header-logo-container {
//   //       .logo {
//   //       }
//   //     }

//   //     .header-nav-container {
//   //       .header-nav-link {
//   //       }
//   //     }

//   //     .header-nav-link:hover {
//   //     }

//   //     .header-nav-link:focus {
//   //     }

//   //     .dropdown-menu {
//   //     }

//   //     .dropdown-center:hover .dropdown-menu {
//   //     }

//   //     .header-nav-divider {
//   //     }
//   //   }
// }

// @media (min-width: 992px) {
//   .header-container {
//     .header-logo-container {
//       .logo {
//         border: none;
//       }
//     }

//     // .header-nav-container {
//     // }

//     // .header-nav-link:hover {
//     // }

//     // .header-nav-link:focus {
//     // }
//     // .dropdown-menu {
//     // }
//     .dropdown-center:hover .dropdown-menu {
//       width: max-content;
//     }

//     .header-nav-divider {
//       font-size: 15px;
//     }
//   }
// }