@media screen and (max-width: 576px) {

  .home-mobile-dropdown {
    z-index: 999;
    position: fixed;
    top: 50px;
    right: 47%;
    width: 63%;  /* 设置宽度为页面的 63% */
    height: 199px;
    flex-shrink: 0;
    //background-color: white;
  }
  
  .home-mobile-dropdown li {
    background: white;
    cursor: pointer;
    list-style: none; /* add this to remove the bullet points */
    height: 83px;
    border: 1px solid grey;  
    display: flex ;
    justify-content: center ;
    align-items: center ;
   
  }
  
  .home-mobile-dropdown.clicked {
    display: none;
  }
  
  
}