
@media (max-width: 992px) {
    .header-navbar {
        display: none;
    }

    .header-container {
        width: 100%;
        background: rgba($color: #FFFFFF, $alpha: 0.8);
        display: flex;
        justify-content:space-between;
        border: 0;
        position: absolute;
        height: 64px;
        left: 0%;
        right: 0%;
        top: 0px;
        z-index: 999;
        position:fixed;
        align-items: center;

    
        .header-logo-container {
            order:0;
            width: 37.83px;
            height: 40px;
            left: 40px;
            top: calc(50% - 40px/2);
            margin-left: 20px;
            .logo { 
                height: 40px;
                width:37.83px;
                object-fit: contain;
            }
        }
    
        .header-nav-container {
            
            order:1;
            margin: 8px 9.5% 8px 70px;

            .header-nav-link1 {
                width: 86px;
                height: 22px;
                font-family: 'Open Sans';
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                color: #333333;
                text-decoration: none;
                padding-bottom: 13px;
            }
            .header-nav-link2
            {
                width:59px;
                height:22px;
                font-family: 'Open Sans';
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                color: #333333;
                text-decoration: none;
                padding-bottom: 13px;
            }
            .header-nav-link3
            {
                width:91px;
                height:22px;
                font-family: 'Open Sans';
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                color: #333333;
                text-decoration: none;
                padding-bottom: 13px;
            }
            
        }
        .header-login{
            order:2;
            margin-left: auto;
            
            display: flex;
            flex-direction: row;
            gap: 30px;
            .header-search
            {
                flex-basis: 60%;
                margin-top: 8px;
            }
            .header-login-logo
            {
                margin-top: 8px;
                margin-right: -20px;

            }
            .header-login-text
            {
                margin-top: 8px;
                margin-right: 40px;
                font-family: 'Open Sans';
            }
            input[type=text] {
                
                width: 100%;
                box-sizing: border-box;
                border-left: none;
                border-top: none;
                border-right: none;
                font-size: 20px;
                padding: 10px,10px;
                border-bottom:1px solid #C0C0C0;
                background-image: url("../../assets/home/search_icon.png");
                background-position: right center; /* position the icon to the right */
                background-repeat: no-repeat;
                background-size: 18px; /* set the size of the icon */
                box-sizing: border-box; /* include padding in the width of the input field */
                background-origin: content-box; /* position the background image relative to the content box */
                background-clip: padding-box;
                
              }
        }
    

    
        .header-nav-link:hover {
            color: #3397B9;
        }

        .header-nav-link:focus {
            color: #3397B9;
        }
    
        .dropdown-menu {
            background: rgba($color: #FFFFFF, $alpha: 0.8);
            border: 0;
            border-radius: 0;
            text-align: center;
            padding: 0;
        }
        
    
        .dropdown-center:hover .dropdown-menu {
            display: block;
            position: absolute;
            left: 0;
            top: 32px;
            animation: fadeIn;
            animation-duration: 0.6s;
        }
    
        .header-nav-divider {
            font-size: 10px;
            color: #666666;
            margin: 0 20px;
        }
    }
}

@media (min-width: 992px) {
    .header-navbar {
        display: none;
    }

    .header-container {
        width: 100%;
        background: rgba($color: #FFFFFF, $alpha: 0.8);
        display: flex;
        justify-content:space-between;
        border: 0;
        position: absolute;
        height: 64px;
        left: 0%;
        right: 0%;
        top: 0px;
        z-index: 999;
        position:fixed;
        align-items: center;
        
    
        .header-logo-container {
            order:0;
            width: 37.83px;
            height: 40px;
            left: 40px;
            top: calc(50% - 40px/2);
            margin-left: 20px;
            .logo { 
                height: 40px;
                width:37.83px;
                object-fit: contain;
                border: none;
            }
        }
    
        .header-nav-container {
            
            order:1;
            margin: 8px 9.5% 8px 70px;
            border-radius: 0;

            .header-nav-link1 {
                width: 86px;
                // height: 22px;
                font-family: 'Open Sans';
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                // line-height: 140%;
                color: #333333;
                text-decoration: none;
                padding-bottom: 13px;
            }
            .header-nav-link2
            {
                width:59px;
                // height:22px;
                font-family: 'Open Sans';
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                // line-height: 140%;
                color: #333333;
                text-decoration: none;
                padding-bottom: 13px;
            }
            .header-nav-link3
            {
                width:91px;
                // height:22px;
                font-family: 'Open Sans';
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                // line-height: 140%;
                color: #333333;
                text-decoration: none;
                padding-bottom: 13px;
            }
            
        }
        .header-login{
            order:2;
            margin-left: auto;
            
            display: flex;
            flex-direction: row;
            gap: 30px;
            .header-search
            {
                flex-basis: 60%;
                margin-top: 8px;
            }
            .header-login-logo
            {
                margin-top: 8px;
                margin-right: -20px;

            }
            .header-login-text
            {
                margin-top: 8px;
                margin-right: 40px;
                font-family: 'Open Sans';
            }
            input[type=text] {
                
                width: 100%;
                box-sizing: border-box;
                border-left: none;
                border-top: none;
                border-right: none;
                font-size: 20px;
                padding: 10px,10px;
                border-bottom:1px solid #C0C0C0;
                background-image: url("../../assets/home/search_icon.png");
                background-position: right center; /* position the icon to the right */
                background-repeat: no-repeat;
                background-size: 18px; /* set the size of the icon */
                box-sizing: border-box; /* include padding in the width of the input field */
                background-origin: content-box; /* position the background image relative to the content box */
                background-clip: padding-box;
                
              }
        }
    

    
        .header-nav-link:hover {
            color: #3397B9;
        }

        .header-nav-link:focus {
            color: #3397B9;
        }
    
        .dropdown-menu {
            background: rgba($color: #FFFFFF, $alpha: 0.8);
            border: 0;
            border-radius: 0;
            text-align: center;
            padding: 0;
        }
        
    
        .dropdown-center:hover .dropdown-menu {
            display: block;
            width: max-content;
            position: absolute;
            left: 0;
            top: 32px;
            animation: fadeIn;
            animation-duration: 0.6s;
        }
    
        .header-nav-divider {
            font-size: 15px;
            color: #666666;
            margin: 0 20px;
        }
    }
    .login-icon{
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .fas.fa-bars{
        display: none;
    }
    .fas.fa-user{
        display: none;
    }
    .dropdown-container{
        display: none;
    }
    
}
@media(max-width :576px){
    .header-container {
        width: 100%;
        height: 50px;
        z-index: 9999;
        background-color: white;
        border-bottom: 1px solid grey;  /* 添加这行 */
    }
    .header-nav-container{
        display: none;
    }
    .header-logo-container{
        width: 37.83px;
        height: 40px;
        position: fixed;
        top:4px !important;
        left: 45% !important;
        transform: translateX(-50%);
    }
    .logo { 
        height: 40px;
        width: 37.83px;
        object-fit: contain;
    }
    .login-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px;
        //transform: translate(-100%, 60%); // 使用transform
        font-size: 1.8rem;
        cursor: pointer;
        background-color: transparent;
        width: 40px;
        height: 40px; // add a specific height
    }
    .login-icon.active{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px;
        //transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        background-color: black;
        width: 50px;
        height: 50px; // add a specific height
    }
    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute !important;
        padding: 4px;
        top: 0;
        left: 0 !important;
        //transform: translate(-100%, 60%); // 使用transform
        font-size: 1.8rem;
        cursor: pointer;
        background-color: transparent;
        width: 40px;
        height: 40px; // add a specific height
    }
    .menu-icon.active {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute !important;
        padding: 4px;
        top: 0;
        left: 0 !important;
        //transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        background-color: black;
        width: 50px;
        height: 50px; // add a specific height
    }
    .fas.fa-bars.active {
        color: white;  
    }
    .fas.fa-user.active {
        color: white;
    }
    .dropdown-container{
        // z-index: 999;
        // position: fixed;
        // top: 50px;
        // left: 0;
        // width: 224.009px;
        // height: 199px;
        // flex-shrink: 0;
        // background-color: white;
    }

}
