.recommendation-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 300px); 
    grid-gap: 10px; /* 列之间的间隙 */
    overflow-x: auto; /* 当容器的内容超出容器宽度时，显示水平滚动条 */
    white-space: nowrap; /* 防止内容换行 */
    //margin-top: 15px;
}
.recommendation-title{
    color: #000;
    font-family: Inter;
    font-size: 17.007px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 17.007px */
    //height: 20px;
}
.recommendation-grid-outer-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.simple-grid-test {
    width: 21rem;
    height: 18rem;
}

.simple-grid-test::-webkit-scrollbar {
    width: 3px;
}

.simple-grid-test::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 30px;
}