.chakra-spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 9rem;
}

.indv-doctor-page-container {
  width: 85%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
}

.indv-doctor-info-container {
  width: 100%;
  display: flex;
}

.indv-doctor-profile-picture-container {
  width: 16rem;
  height: 16rem;
}

.indv-doctor-profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 4px 16px rgba($color: #675d59, $alpha: 0.3);
}

.indv-doctor-info-sub-container {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  width: 80%;
}

.indv-doctor-info-row {
  display: flex;
  width: 100%;
}

.indv-top-row-left-side {
  display: flex;
  align-items: center;
  width: 50%;
}

.indv-top-row-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.indv-doctor-info-icon-container {
  cursor: pointer;
}

.indv-doctor-name {
  color: #352c29;
  font-weight: 700;
}

.indv-doctor-verified-container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.indv-edit-profile-button {
  background-color: #675d59;
  color: white;
  border-radius: 8px;
  padding: 12px 40px;
  font-weight: 600;
  font-size: 22px;
}

.indv-appointment-management-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f48c8a;
  border-radius: 8px;
  padding: 10px 22px;
  cursor: pointer;
}

.indv-second-row {
  padding-top: 2rem;
}

.indv-doctor-description {
  color: #352c29;
  font-size: 18px;
}

.indv-third-row {
  column-gap: 2rem;
  font-size: 24px;
  font-weight: 600;
  padding-top: 1rem;
}

.indv-posts-total-container,
.indv-followers-total-container,
.indv-following-total-container {
  display: flex;
  gap: 0.4rem;
}

.gray-text-container {
  color: #352c29;
}

.indv-fourth-row {
  padding-top: 2rem;
  justify-content: space-between;
  column-gap: 5%;
}

.indv-doctor-info-subrow {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.indv-doctor-info {
  color: #675d59;
  font-size: 14px;
}

// .indv-button-container {
//   width: 100%;
//   // display: flex;
//   // justify-content: flex-start;
//   padding-top: 2rem;
// }

.indv-button {
  color: #fbfcff;
  font-size: 22px;
  font-weight: 600;
  background: linear-gradient(to right, #f48c8a, #f0a484);
  padding: 0.75rem 0;
  border-radius: 8px;
}

.indv-unfollow-button {
  color: #f48c8a;
  font-weight: 600;
  background: linear-gradient(#fbfcff, #fbfcff) padding-box,
    linear-gradient(to right, #f48c8a, #f0a484) border-box;
  padding: 0.55rem 0;
  border-radius: 8px;
  border: 2px solid transparent;
  width: 12%;
}

.indv-consultation-button {
  width: 40%;
}

.indv-follow-button {
  background: #675d59;
}

// .indv-follow-button,
// .indv-unfollow-button {
//   width: 10%;
// }

.indv-fifth-row {
  padding-top: 2rem;
  column-gap: 2rem;
}

// THE ABOVE IS FOR THE DOCTOR PROFILE INFO COMPONENT

.indv-doctor-navbar {
  display: flex;
  column-gap: 2rem;
  padding: 2rem 0;
}

.indv-doctor-navbar-item {
  font-size: 16px;
  font-weight: 600;
  color: #675d59;
  cursor: pointer;
}

.indv-active {
  padding-bottom: 0.25rem;
  color: #352c29;
  background: linear-gradient(90deg, #ffa4a3 0%, #fab25e 100%) no-repeat;
  background-size: 100% 3px; /* Make the background only 4px high */
  background-position: bottom; /* Position the background at the bottom, like a border */
}

@media (max-width: 1133px) {
  .indv-doctor-page-container {
    width: 87.5%;
  }

  .indv-fourth-row {
    justify-content: normal;
    flex-wrap: wrap;
    column-gap: 2%;
  }

  .indv-follow-button,
  .indv-unfollow-button {
    width: 30%;
  }
}

@media (max-width: 744px) {
  .indv-doctor-page-container {
    width: 92.5%;
    padding-top: 3rem;
  }

  .indv-doctor-profile-picture-container {
    margin-bottom: 3rem;
    width: 312px;
    height: 312px;
  }

  .indv-top-row-left-side {
    width: 70%;
  }

  .indv-top-row-right-side {
    width: 30%;
  }

  .indv-follow-button,
  .indv-unfollow-button {
    width: 30%;
  }

  .indv-doctor-info-container {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem !important;
  }

  .indv-doctor-info-sub-container {
    width: 100%;
    padding-left: 0rem;
  }

  .indv-fourth-row {
    justify-content: normal;
    flex-wrap: wrap;
    column-gap: 2%;
  }
}

@media (max-width: 430px) {
  .mob-indv-container {
    margin-right: auto;
  }

  .mob-indv-doctor-name-right-container {
    display: flex;
    flex-direction: column;
  }

  .mob-indv-doctor-profile-container {
    display: flex;
    gap: 1rem;
  }

  .mob-indv-doctor-name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .indv-doctor-profile-picture {
    width: 80px;
    height: 80px;
  }

  .mob-contact-icon-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-top: 0.4rem;
  }

  .mob-indv-doctor-info-container {
    margin-top: 1rem;
    margin-right: auto;
  }

  .mob-indv-doctor-description {
    margin-bottom: 0;
  }

  .indv-third-row {
    margin-bottom: 1rem;
  }

  .indv-posts-total-container,
  .indv-followers-total-container,
  .indv-following-total-container {
    font-size: 18px;
  }

  .mob-indv-doctor-details-wrap {
    color: #675d59;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .mob-indv-doctor-details-container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.1rem;
  }

  .indv-fifth-row {
    padding-top: 1rem;
  }
}

// .individual-doctor-container {
//   margin-top: 126px;
//   display: flex;
//   flex-direction: column;
//   //justify-content: center;
//   //align-items: center;

//   .individual-doctor-left-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-start;
//     // padding: 0 50px;
//     // width: 100%;
//     // margin: auto;
//     position: relative;
//     left: 0;
//   }
//   .individual-doctor-right-container {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     padding: 0 10px;
//     // gap: 40px;
//     // width: 100%;

//     position: relative;
//     //top: 700px;
//     right: 0;
//     flex: 1;
//     margin-left: 40px;

//     .individual-doctor-right-about {
//       margin-top: 40px;
//       width: 100%;
//     }

//     .individual-doctor-posts {
//       width: 100%;
//     }
//   }
// }
// .individual-page-container {
//   display: flex;
//   width: 100%;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }
// @media (min-width: 768px) {
//   .individual-doctor-container {
//     flex-direction: row;
//     // gap: 8vw;
//     box-sizing: border-box;
//     .individual-doctor-left-container {
//       // padding: 0 0 64px;
//       position: relative;
//       // width: 30vw;
//       height: 920px;
//       //left: 80px;
//       //top: 104px;
//     }
//     .individual-doctor-right-container {
//       padding: 0;
//       // gap: 40px;

//       //position: absolute;
//       position: relative;
//       // width: 50vw;
//       //height: 920px;
//       //right: 80px;
//       //top: 104px;

//       .individual-doctor-tabs {
//         display: flex;
//         flex-direction: row;
//         gap: 40px;

//         .individual-doctor-tab {
//           //styleName: Interactive 3 Bold;
//           font-family: "Open Sans";
//           font-size: 16px;
//           font-weight: 600;
//           line-height: 16px;
//           letter-spacing: 0;
//           text-align: left;
//         }

//         .individual-doctor-tab {
//           //styleName: Interactive 3 Bold;
//           font-family: "Open Sans";
//           font-size: 16px;
//           font-weight: 600;
//           line-height: 16px;
//           letter-spacing: 0;
//           text-align: left;

//           .individual-doctor-tab-underline {
//             height: 3px;
//             background: linear-gradient(90deg, #ffa4a3 0%, #fab25e 100%);
//             border-bottom: 3px;
//             border-radius: 50px;
//             margin-top: 5px;
//             display: none;
//           }
//         }

//         .individual-doctor-tab:hover {
//           //styleName: Interactive 3 Bold;
//           font-family: Inter;
//           font-size: 16px;
//           font-weight: 700;
//           line-height: 16px;
//           letter-spacing: 0;
//           text-align: left;
//           cursor: pointer;

//           .individual-doctor-tab-underline {
//             display: block;
//           }
//         }

//         .active,
//         .individual-doctor-tab:hover {
//           //styleName: Interactive 3 Bold;
//           font-family: Inter;
//           font-size: 16px;
//           font-weight: 700;
//           line-height: 16px;
//           letter-spacing: 0;
//           text-align: left;

//           .individual-doctor-tab-underline {
//             display: block;
//           }
//         }
//       }

//       .individual-doctor-posts {
//         position: relative;
//         // top: -30px;
//         // left: -30px;
//         // width: 55vw;
//       }
//     }
//   }
//   .doctor-post-container {
//     transform: scale(0.7) !important;
//   }
//   //   .individual-page-container {
//   //     display: flex;
//   //     width: 100%;
//   //     flex-direction: column;
//   //     align-items: center;
//   //     justify-content: center;
//   //     //min-height: 150vh;
//   //     /* This allows the footer to be sticked at the bottom if there's not enough content */
//   //   }
// }

// // Phone
// @media (max-width: 767px) {
//   .individual-page-container {
//     margin-top: 61px;
//     display: flex;
//     flex-direction: column;
//     min-height: 150vh;
//     /* This allows the footer to be sticked at the bottom if there's not enough content */
//   }
//   .individual-doctor-container {
//     display: flex;
//     flex-direction: column;

//     .individual-doctor-left-container {
//     }
//     .individual-doctor-right-container {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       padding: 0 10px;
//       // gap: 40px;
//       width: 100%;

//       position: relative;
//       margin-top: 400px;
//       //top: 700px;
//       right: 0;

//       .individual-doctor-tabs {
//         display: flex;
//         flex-direction: row;
//         margin: 0 auto;
//         gap: 20px;
//         .individual-doctor-tab {
//           //styleName: Interactive 3 Bold;
//           font-family: "Open Sans";
//           font-size: 16px;
//           font-weight: 600;
//           line-height: 16px;
//           letter-spacing: 0;
//           text-align: left;
//         }

//         .individual-doctor-tab {
//           //styleName: Interactive 3 Bold;
//           font-family: "Open Sans";
//           font-size: 16px;
//           font-weight: 600;
//           line-height: 16px;
//           letter-spacing: 0;
//           text-align: left;

//           .individual-doctor-tab-underline {
//             height: 3px;
//             background: linear-gradient(90deg, #ffa4a3 0%, #fab25e 100%);
//             border-bottom: 3px;
//             border-radius: 50px;
//             margin-top: 5px;
//             display: none;
//           }
//         }

//         .individual-doctor-tab:hover {
//           //styleName: Interactive 3 Bold;
//           font-family: Inter;
//           font-size: 16px;
//           font-weight: 700;
//           line-height: 16px;
//           letter-spacing: 0;
//           text-align: left;
//           cursor: pointer;

//           .individual-doctor-tab-underline {
//             display: block;
//           }
//         }

//         .active,
//         .individual-doctor-tab:hover {
//           //styleName: Interactive 3 Bold;
//           font-family: Inter;
//           font-size: 16px;
//           font-weight: 700;
//           line-height: 16px;
//           letter-spacing: 0;
//           text-align: left;

//           .individual-doctor-tab-underline {
//             display: block;
//           }
//         }
//       }

//       .individual-doctor-posts {
//         position: relative;
//         //margin-top: -20px;
//         // left: 1vh;
//         // right: 1vh;
//         // display: flex;
//         // flex-direction: row;
//         // justify-content: center;
//         // align-items: center;
//         // width: 100%;
//       }
//     }
//   }
//   .infinite-scroll-component__outerdiv {
//     width: 100%;
//   }
//   .individual-doctor-container {
//     width: 100%;
//   }
// }
