@media (min-width: 744px) and (max-width: 1132.99px) {
  .intro-doctor-container-mobile {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-left: 10%;
    
    .intro-card-mobile {
      width: 100%;
      // margin:10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .intro-card-title-mobile {
        font-style: Normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 46.3px;
        width: 100%;
        height:46px;
        text-align: center;
      }
      img {
       padding-left:0;
        width: 64px;
        height: 64px;
      }
      .intro-card-text-mobile {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24.51px;
        width: 100%;
      }
    }
  }
}
@media (min-width: 375px) and (max-width: 743.50px) {
  .intro-doctor-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: left;

    .intro-card-mobile {
      width: 240%;
      // margin:10px;
      justify-content: center;
      .intro-card-title-mobile {
        height: 30px;
        width:150%;
        display:flex;
        gap:8px;
        margin-left: 4%;
        
        .intro-card-title-mobile-text{ 
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 27.24px;
          //width: 150%;
          text-align: center;
          }
        img {
          //margin-top: 20px;
          width: 24px;
          height: 24px;
        }
      }
      .intro-card-img-text-mobile {
        justify-content: center;
        // align-items: center;
        margin-top: 15px;
        display: flex;
        gap: 30px;
        // img {
        //   margin-top: 20px;
        //   width: 24px;
        //   height: 24px;
        //   margin-bottom: 10px;
        // }
      }
      .intro-card-text-mobile {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19.07px;
        width: 500%;
        margin-left: 4%;
      }
    }
  }
}
@media (min-width: 1133px) {
  .intro-doctor-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;

    .intro-card {
      width: 30%;
      // margin: 50px;

      img {
        width: 64px;
        margin-bottom: 15px;
      }

      .intro-card-title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
      }

      .intro-card-text {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
      }
    }
}}
