
// base
.main-page-title {
    padding-top: 8rem;
    font-size: 60px;
    font-weight: 700;
    width: 55%;
}
.main-title-container {
    width: 90%;
    margin: auto;
}
.main-page-subtitle {
    font-weight: 600;
    font-size: 21px;
}
.main-top-row {
    display: flex;
    justify-content: right;
    padding-bottom: 4rem;
}
.main-top-img-container {
    width:50%;
    height: 25rem;
    right:0px;
    background: linear-gradient(115deg, #F48C8A 60%, #F0A484);
    border-radius: 1000px 0px 0px 1000px;
    position: relative; 
    // overflow: hidden;
}
.main-doctor-img-container {
    position: absolute;
    right: 25%;
    bottom: -3px;
    width: 19rem;
}
.main-doctor-img {
    width: 100%;
}
        
    @media (max-width: 768px) { // tablet
        // .main-title {
        //     font-size: 35px;
        //     font-weight: 500;
        //     color: #333333;
        //     line-height: 50px;
        //     margin: 122px auto 0;
        //     text-align: center;
        // }
    
        // .main-divider {
        //     width: 10%;
        //     height: 4px;
        //     background: #3397B9;
        //     opacity: 1;
        //     border-color: #3397B9;
        //     border-radius: 3px;
        //     margin: 15px auto 60px;
        // }
    }

    @media (max-width: 576px) { // phone
        // .main-title {
        //     font-size: 29px;
        //     font-weight: 600;
        //     color: #333333;
        //     line-height: 50px;
        //     margin: 122px auto 0;
        //     text-align: center;
        // }
    
        // .main-divider {
        //     width: 10%;
        //     height: 3px;
        //     background: #3397B9;
        //     opacity: 1;
        //     border-color: #3397B9;
        //     border-radius: 3px;
        //     margin: 5px auto 40px;
        // }
    }



.main-text {
    font-family: 'Open Sans';
    color: #352C29;
}