.sub-procedure-form-container {
    background: #F1F2F5;
    border-radius: 8px;
    

    .sub-procedure-form-tr {
        width: 800px; /* 设置表格宽度 */
        height: 60px; /* 设置行的高度 */
    }


    .sub-procedure-form-td {
        width: 25%; /* 设置单元格的宽度，这里假设你的表格有四列，所以是25% */
    }
}