.doctor-appointment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(
    --background-gradient-color,
    linear-gradient(180deg, #fff3ec 0%, #fff 100%)
  );
  padding: 230px 0;
  width: 100%;

  // not used due to new figma design
  // .doctor-appointment-pink-background-1 {
  //   position: absolute;
  //   top: 65px;
  //   left: 0;
  //   z-index: 0;
  //   border-radius: 0 236px 236px 0;
  //   background: var(
  //     --new-gradient,
  //     linear-gradient(90deg, #f48c8a 0%, #f0a484 100%)
  //   );
  //   width: 400px;
  //   height: 330px;
  // }

  // .doctor-appointment-pink-background-2 {
  //   position: absolute;
  //   top: 750px;
  //   right: 0;
  //   z-index: 0;
  //   border-radius: 236px 0 0 236px;
  //   background: var(
  //     --new-gradient,
  //     linear-gradient(90deg, #f48c8a 0%, #f0a484 100%)
  //   );
  //   width: 400px;
  //   height: 330px;
  // }

  .doctor-appointment-back-button-container {
    position: absolute;
    top: 150px;
    left: 150px;
    display: flex;
    align-items: center;
    // gap: 20px;

    // .doctor-appointment-arrow-back-button {
    //   rotate: 180deg;
    // }

    .doctor-appointment-label-back-button {
      color: #352c29;
      text-shadow: 0px 2px 2px rgba(48, 48, 48, 0.1);
      font-family: Open Sans;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .doctor-appointment-inner-container {
    background: #fbfcff;
    border: 1px solid #000;
    border-radius: 18px;
    padding: 0 100px;
    width: 1200px;
    height: 640px;
    z-index: 20;

    .doctor-appointment-description-container {
      display: flex;
      align-items: center;
      padding-top: 100px;

      .doctor-appointment-description {
        color: #000;
        font-family: Open Sans;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 930px;
        height: 61px;
      }
    }

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 0;

      .icon-inner-container {
        display: flex;
        gap: 150px;

        .icon-set {
          display: flex;
          flex-direction: column;
          align-items: center;

          .caption-label {
            color: #000;
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 20px;
          }

          .caption-price {
            color: #f39389;
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 30px;
          }
        }

        img {
          background: #fbfcff;
          border: 2px solid var(--avatar-color-image, #e2e3e7);
          border-radius: 8px;
          box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
          padding: 25px 25px;
        }
      }
    }
  }

  .doctor-appointment-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 90px;

    .doctor-appointment-back-button,
    .doctor-appointment-next-button {
      border-radius: 8px;
      padding: 15px 25px;
    }

    .doctor-appointment-next-button {
      display: flex;
      flex-direction: row-reverse;
    }

    .doctor-appointment-back-button {
      display: flex;
      justify-content: flex-start;
      background: #675d59;
    }

    // input radio
    .radio-label {
      display: block;
      margin: 0 -300px;
    }

    input[type='radio'] {
      display: none;
    }

    .radio-text:before {
      content: '';
      display: inline-block;
      margin-right: 6px;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      padding: 2px;
      background-clip: content-box;
      width: 20px;
      height: 20px;
    }

    input[type='radio']:not(:checked) + .radio-text:before {
      border: 2px solid #f39389;
    }

    input[type='radio']:checked + .radio-text:before {
      border: 2px solid #f39389;
      background-color: #f39389;
    }
  }
}

@media (max-width: 1133px) {
}

@media (max-width: 744px) {
}
