.doctor-appointment-profile-container {
  .doctor-appointment-profile-title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    padding-top: 150px;
    padding-bottom: 10px;

    .doctor-appointment-profile-title-button-wrap {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .doctor-appointment-profile-title {
      color: #000;
      font-family: Open Sans;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .doctor-appointment-profile-inner-container {
  }
}

@media (max-width: 1133px) {
}

@media (max-width: 744px) {
}
