@media (min-width: 1025px) {
  .post-detail-popUp-container {
    top: 300px;
    display: flex;
    border-radius: 20px;
    // adjusting the height when there is no image so this can be removed when published: Emmy M
    height: 420px;

    .postdetail-popUp-left-container {
      position: relative;
      flex-basis: 50%;
      border-radius: 20px 0px 0px 20px;

      .post-detail-image {
        border-radius: 5px 0 0 5px;
        object-fit: contain;
      }
    }

    .postdetail-popUp-right-container {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      height: 100%;

      .detail-top-content {
        margin-top: 5%;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        margin-left: 5%;
        flex: 1;
        padding-bottom: 100px;

        .post-popUp-content {
          position: relative;
          display: flex;
          flex-direction: column;
          max-width: 450px;
        }

        .postdetail-popUp-title {
          color: #352c29;
          font-family: Open Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .post-popUp-break-lines {
          margin-top: 20px;
          position: relative;
          border: solid 1px rgba(226, 227, 231, 1);
          width: 80%;
        }

        .post-popUp-comments {
          margin-top: 10px;
          .comment-detail {
            margin-top: 20px;
          }
        }
      }

      .fixed-input-box {
        position: absolute;
        width: 100%;
        height: 70px;
        bottom: 0px;
        flex: 1;
        max-height: 90px;
        border: solid 1px rgba(226, 227, 231, 1);
        border-radius: 0 0 8px 0;
        background-color: #ffffff;

        .Icon-display {
          display: flex;
          gap: 10px;
          width: 500px;
          height: 70px;
          padding: 0px 18px;

          .Icon-size {
            width: 18px;
          }

          .Icon-count {
            display: flex;
            flex-direction: row;
            gap: 8px;
            color: var(--text-2-button, #675d59);
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            align-items: center;
          }

          // share-icon
          .share-icon {
            display: flex;
            align-items: center;
            margin-left: auto;
          }
        }

        .new-comment-input {
          .input-blank {
            margin-left: 5%;
            border: none;
            outline: none;
          }

          .input-blank.focus {
            outline: none;
          }
        }
      }

      .post-detail-send-box-outer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .detail-gray-font {
    color: #675d59;
    font-family: Open Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .detail-red-font {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: rgba(130, 78, 61, 1);
  }

  .post-detail-mobile-profile-container {
    display: none;
  }

  .post-detail-mobile-profile {
    display: none;
  }

  .post-detail-mobile-avatar {
    display: none;
  }

  .doctor-search-button {
    display: none;

    .doctor-search-icon {
      display: none;
    }
  }

  .post-detail-mobile-download-button {
    display: none;

    .join-community-text {
      display: none;
    }
  }

  .comment-send-msg-container {
    margin-right: 10px;
  }
}

.user-detail-profile-image {
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .post-detail-popUp-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .post-detail-mobile-profile-container {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;

    .post-detail-mobile-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .post-detail-mobile-avatar {
      width: 35.84px;
      height: 35.84px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  
  .doctor-search-button {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    width: 150px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    background: #352c29;
    border-radius: 20px;
    display: flex;
    height: 40px;
    font-size: 15px;
    // margin-top: 10px;
  }

  .doctor-search-icon {
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
    border-radius: 0;
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }

  .postdetail-popUp-left-container {
    display: flex;
    justify-content: center;
  }

  .post-detail-image {
    display: flex;
  }

  .post-popUp-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
  }

  .postdetail-popUp-right-container {
    display: block;
    background-color: #ffffff;
    padding: 20px 30px;
  }

  .detail-top-content {
    display: block;
  }

  .post-popUp-break-lines {
    display: none;
  }

  .post-popUp-comments {
    border-top: 1px solid rgba(226, 227, 231, 1);
  }

  .post-detail-mobile-download-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 50px;
    border-top: 1px solid rgba(226, 227, 231, 1);

    .join-community-text {
      font-size: 14px;
      font-weight: 500px;
      line-height: 25.6px;
      font-family: "Open Sans";
    }
  }

  .fixed-input-box {
    display: none;

    .Icon-display {
      display: none;

      .Icon-size {
        display: none;
      }

      .Icon-count {
        display: none;
      }
    }

    .new-comment-input {
      .input-blank {
        display: none;
      }

      .input-blank.focus {
        display: none;
      }
    }
  }
}

.user-detail {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White, #fbfcff);
  opacity: 0.9;
  width: 100%;
  height: 70px;
  padding: 20px;

  .user-detail-inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  img {
    width: 49px;
    height: 49px;
  }

  span {
    color: var(--text-1-footer, #352c29);
    font-size: 21px;
    font-weight: 600;
  }

  a {
    color: var(--text-2-button, #675d59);
    text-decoration-line: underline;
  }

  .button-highlight,
  .button-private,
  .button-edit {
    font-size: 14px;
    text-decoration: underline;
    margin-right: 10px;
  }
}

.post-tag-names {
  color: var(--text-2-button, #675d59);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post-date {
  color: var(--text-2-button, #675d59);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.comment-card-input {
  border: 1px solid #675d59;
  border-radius: 8px;
  outline: none;
  resize: none;
  padding: 10px;
  width: 450px;
  height: 80px;
}

.post-detail-user-name-mobile {
  color: #352c29;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
