@media(min-width: 1024px){
    .home-link
{
    color:white;
    display: inline-flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background:  linear-gradient(90deg, #F48C8A 0%, #F0A484 100%);
}
}

