.doctor-verifi-main-page-click-more-area
{
    display: flex;
    flex-direction: column;
    //   gap: 24px;
    border-radius: 12px;
    border: 2px solid #675d59;
    background: #fbfcff;
    align-items: center;
    width: calc(100% - 96px); 
    margin-left: auto;
    margin-right: auto;
    
}
.doctor-verification-main-container
{
    max-height:4000px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

}
.doctor-verification-main-page-button-container
{
    display: flex;
    gap:30px;
}
.doctor-verifi-submmited-container
{
    display: flex;
    flex-direction: column;
    //   gap: 24px;
    border-radius: 12px;
    border: 2px solid #675d59;
    background: #fbfcff;
    align-items: center;
    width: calc(100% - 96px);
    margin-left: 50px; 
    margin-bottom: 300px;
    margin-top: 100px;
}