// screen bigger than 1440px
.create-post-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .create-pink-background-1 {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 0;
    border-radius: 0 236px 236px 0;
    background: var(
      --new-gradient,
      linear-gradient(90deg, #f48c8a 0%, #f0a484 100%)
    );
    width: 400px;
    height: 330px;
  }

  .create-pink-background-2 {
    position: absolute;
    top: 680px;
    right: 0;
    z-index: -1;
    border-radius: 236px 0 0 236px;
    background: var(
      --new-gradient,
      linear-gradient(90deg, #f48c8a 0%, #f0a484 100%)
    );
    width: 400px;
    height: 330px;
  }

  .create-post-page-back-button-container {
    position: absolute;
    top: 130px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 20px;

    .create-post-page-arrow-back-button {
      rotate: 180deg;
    }

    .create-post-page-label-back-button {
      color: #fbfcff;
      font-family: Open Sans;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .create-post-page-inner-container {
    // position: absolute;
    top: -30px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    border: 2px solid #675d59;
    background: #fbfcff;
    display: flex;
    padding: 0 50px;
    padding-bottom: 50px;
    width: 1000px;
    height: 520px;
    margin: 220px 0;
  }

  // left-container
  .create-post-page-left-container-wrapper {
    display: flex;
    flex-direction: column;
  }

  .create-post-page-left-container {
    position: relative;
  }

  .create-post-pic-wrapper {
    // height: 320px;
    border-radius: 15px;
    // margin-bottom: 15px;
    margin-top: 50px;
    // overflow: hidden;
  }

  .create-post-page-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--White, #fbfcff);
    box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
    margin-top: -65px;
    margin-bottom: 20px;
    width: 330px;
    height: 330px;
  }

  .create-post-page-text {
    position: absolute;
    left: 70px;
    bottom: 20px;
    color: var(--text-2-button, #675d59);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 200px;
  }

  .create-post-page-thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .create-post-page-thumbnail {
      position: relative;
      display: flex;
      justify-items: center;
      align-items: center;
      // border: 1px solid gray;
    }

    .create-post-page-add-thumbnail {
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid gray;
      border-radius: 8px;
      background: #fbfcff;
      box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
      width: 70px;
      height: 70px;
    }
  }

  // right container
  .create-post-page-right-inner-container {
    margin-top: 25px;
  }

  .create-post-page-title,
  .create-post-page-description {
    border-radius: 8px;
    background: #fbfcff;
    box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
    outline: none;
    padding: 14px;
  }

  .create-post-page-title {
    width: 540px;
    height: 48px;
  }

  .create-post-page-title-error-validation,
  .create-post-page-description-error-validation {
    color: #ff0000;
    margin-top: 10px;
  }

  .create-post-page-description {
    resize: none;
    width: 540px;
    height: 260px;
  }

  // tag, location button
  .create-post-page-tag-name {
    top: -460px;
    left: 16px;
  }

  .create-post-page-location-tag-name {
    right: 16px;
  }

  .create-post-page-tag-name,
  .create-post-page-location-tag-name {
    position: absolute;
    bottom: 20px;
    color: #675d59;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .create-post-page-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    .create-post-input-radio-button {
      margin-right: 6px;
    }

    .create-post-input-radio-button-label {
      margin-right: 12px;
    }
  }

  .create-post-custom-button {
    padding: 5px 23px;
    height: 41px;
  }

  // image mask effect
  .thumbnail {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: gray;
      border-radius: 8px;
      opacity: 0.6;
      width: 100%;
      height: 100%;
    }
  }

  .thumbnail.clicked::before {
    content: none;
  }
}

// small screens
@media (max-width: 1133px) {
  .create-post-page-container {
    .create-pink-background-1 {
      position: absolute;
      top: 65px;
      left: 0;
      z-index: 0;
      border-radius: 0 236px 236px 0;
      background: var(
        --new-gradient,
        linear-gradient(90deg, #f48c8a 0%, #f0a484 100%)
      );
      width: 400px;
      height: 330px;
    }

    .create-pink-background-2 {
      top: 670px;
      z-index: -1;
    }

    .create-post-page-inner-container {
      width: 880px;
      // height: 490px;
    }

    .create-post-page-title,
    .create-post-page-description {
      width: 400px;
    }
  }
}

// mobile
@media (max-width: 744px) {
  .create-post-page-container {
    .create-pink-background-1 {
      top: 55px;
    }

    .create-pink-background-2 {
      top: 1070px;
      right: 0;
      height: 390px;
    }

    .create-post-page-inner-container {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      padding: 60px 0;
      width: 480px;
      min-height: 800px;
      height: auto;
    }

    .create-post-page-title,
    .create-post-page-description {
      width: 370px;
    }

    .create-post-input-radio-button-label {
      font-size: 13px;
    }

    .create-post-custom-button {
      font-size: 14px;
      padding: 5px 20px;
      height: 41px;
    }
  }
}

@media (max-width: 530px) {
  .create-post-page-inner-container {
    width: 360px !important;
  }

  .create-pink-background-1 {
    width: 300px !important;
  }

  .create-pink-background-2 {
    top: 1100px !important;
    width: 300px !important;
  }

  .create-post-page-title, .create-post-page-description {
    width: 300px !important;
  }
}

@media (max-width: 375px) {
}
