.indv-doctor-about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.indv-vouchers-big-container {
  padding: 2rem 0;
}

.indv-vouchers-title {
  color: #f48c8a;
}

.vouchers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 1rem;
}

.indv-no-vouchers-title {
  font-size: 18px;
}

.indv-doctor-voucher-card-container {
  display: flex;
  gap: 1.5rem;
}

.indv-specialization-title {
  font-size: 24px;
  font-weight: 600;
}

.indv-specialization-big-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
}

.specialization-tabs-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  padding-top: 2rem;
}

.indv-procedure-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indv-procedure-icon-img-container {
  border-radius: 50%;
  box-shadow: 1px 2px 24px lightgray;
  width: 8rem;
}

.indv-procedure-icon-img {
  border-radius: 50%;
  padding: 1rem;
  width: 100%;
}

.indv-procedure-icon-title-container {
  padding-top: 1rem;
}

.indv-procedure-icon-title {
  font-size: 18px;
}

.indv-highlight-cases-container {
  width: 100%;
}

.highlight-cases-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.highlight-cases-arrows-container {
  display: flex;
  gap: 2rem;
}

// both arrow icons size
.highlight-cases-arrow-container {
  cursor: pointer;
  width: 1.5rem;
}

.highlight-cases-forward-arrow {
  transform: scaleX(-1);
}

.highlight-cases-title {
  color: #352c29;
  font-size: 24px;
  font-weight: 600;
}

.highlight-cases-cases-container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1.5rem;
  min-height: 24rem;
}

.highlight-cases-highlights-container {
  width: 30%;
}

.highlight-cases-no-posts-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-cases-no-posts-text {
  color: #f48c8a;
}

.highlight-post-container {
  width: 100%;
}

.indv-highlight-case-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 30%;
}

.indv-highlight-thumbnail-container {
  background-color: #e2e3e7;
  border-radius: 8px;
  height: 18rem;
}

.indv-customer-review-container {
  padding-top: 2rem;
  padding-bottom: 7rem;
  width: 100%;
}

.customer-review-section-title {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 1133px) {
}

@media (max-width: 744px) {
  .indv-doctor-voucher-card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .indv-highlight-cases-container {
    padding: 30px;
  }

  .specialization-tabs-container {
    justify-content: space-around;
    column-gap: 2rem;
  }

  .indv-procedure-icon-container {
    max-width: 8rem;
  }

  .indv-procedure-icon-img-container {
    width: 7rem;
  }

  .indv-procedure-icon-title {
    text-align: center;
  }

  .indv-highlight-cases-container {
    padding: 0rem;
  }

  .highlight-cases-highlights-container {
    width: 50%;
  }

  .highlight-cases-no-posts-text {
    font-size: 22px;
  }
}

@media (max-width: 375px) {
  .highlight-cases-title {
    font-size: 18px;
  }

  .highlight-cases-arrow-container {
    width: 16px;
  }
}
