.user-appointment-edit-container
{
    width: 1000px;
    height: 550px;
    margin-top: -20px;
}
.app-edit-main-section
{
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 18px;
    border: 1px solid #000;
    width: 850px;
    height: 450px;
    background-color: white;
    display: flex;
}
.app-edit-cnext-button
{
    margin-top: -50px;
    margin-left: 750px;
}
.app-edit-calendar-section
{
    margin-top: 50px;
    margin-left: 50px;
}
.app-edit-time-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-left: 30px;
}
.app-edit-time-button
{
    border-radius: 26.393px;
    border: 0.88px solid #C6CAD7;

    background: rgba(217, 217, 217, 0.00);
    width: 180.943px;
    height: 35.191px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.78);

    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 17.595px */
}
.app-edit-time-button.selected {
    background-color: gray;
}
.app-edit-time-list
{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.app-edit-calendar-section
{
    margin-top: 90px;
}
.react-calendar {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    //color: #222;
    color:black;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
   
  .react-calendar__navigation button {
    color: #d4a713;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
  }
   
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }
  abbr[title] {
    text-decoration: none;
  }
   
  /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #d4a713;
    border-radius: 6px;
  }
   
  .react-calendar__tile--now {
    background: #d4a71333;
    border-radius: 6px;
    font-weight: bold;
    color: #d4a713;
  }
   
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #d4a71333;
    border-radius: 6px;
    font-weight: bold;
    color: #d4a713;
  }
   
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
  }
   
  .react-calendar__tile--active {
    background: #d4a713;
    border-radius: 6px;
    font-weight: bold;
    color: white;
  }
   
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #d4a713;
    color: white;
  }
   
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
  }
   
  .react-calendar__tile--range {
    background: #f8f8fa;
    color: #d4a713;
    border-radius: 0;
  }
   
  .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #d4a713;
    color: white;
  }
   
  .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #d4a713;
    color: white;
  }