.app-finish-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    align-items: center; // this assumes you want it centered in the viewport
    padding-bottom: 10rem;
    padding-top: 5rem;
    position: relative;
}

.app-finish-title-text {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 700;
}
.app-finish-doctor-avatar-container {
    width: 160px;
    height: 160px;
}
.app-finish-doctor-avatar {
    width: 100%;
    height: 100%;
}
.app-finish-doctor-profile {
    display: flex;
    gap:30px;
    align-items: center; // to vertically align the image and text list
    // other styles for the doctor profile if any
}
.app-finish-text-list
{
    display: flex;
    text-align: left;
    gap:10px;
    flex-direction: column;
}
.app-finish-text-name {
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 600;
}
.app-finish-text-date {
    font-family: Open Sans;
    font-size: 21px;
    font-weight: 600;
}
.app-finish-text-time {
    font-family: Open Sans;
    font-size: 21px;
    font-weight: 600;
}
.app-finish-title
{
    margin-top: 50px;
}
.app-finish-button
{
    position: absolute;
    bottom: 4rem;
    right: 8rem;
}
