.appointment-detail-main-container
{
    display: flex;
    flex-direction: column;
    padding: 2.5rem 3.5rem;
}
.appointment-detail-main-scrollable-section {
    display: flex;
    flex-direction: column;
}
.appointment-top-info-container
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // padding-left: 20px;
    // padding-right: 60px;
    // padding-top: 20px;
}
.app-doctor-info-section
{
    display: flex;
    align-items: center;
    gap:40px;
}
.app-doctor-avatar-container {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    // box-shadow: 2px 4px 16px rgba($color: #675D59, $alpha: 0.15);
}
.app-doctor-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.app-doctor-detail
{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    // gap:10px;
}
.app-doctor-detail-combin
{
    display: flex;
    align-items: center;
    gap:10px;
}
.app-doctor-detail-text
{
    overflow: hidden;
    color: #352C29;
    text-overflow: ellipsis;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    // padding-bottom: 0.25rem;
}
.app-time-info-section
{
    display: flex;
    flex-direction: column;
}
.app-doctor-ending-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-top: 1.5rem;
    row-gap: 1rem;
}
.app-doctor-ending-edit-button {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    background: #675D59;
    color: #FBFCFF;
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 20px;
}
.app-doctor-ending-join-consultation-button {
    background: linear-gradient(to right, #F48C8A, #F0A484);
    text-shadow: 2px 2px 8px rgba($color: #303030, $alpha: 0.2);
    color: #FBFCFF;
    font-size: 18px;
    padding: 12px 32px;
    border-radius: 8px;
}
.app-time-info-section-date {
    color: black;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.app-time-info-section-time {
    color: #352C29;
    font-family: Open Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 2.75rem;
}
.app-medium-info-section
{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    // padding-left: 30px;
    color: #000;
    /* NEW TYPE/NEW button */
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    row-gap: 0.75rem;
}
.app-description-section
{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 95%;
    // padding-left: 30px;
    // padding-right: 200px;
}
.app-medium-buttons-combin
{
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    .app-medium-button
    {
        color: #000;

        text-align: center;
        // font-family: PingFang SC;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        border-radius: 30px;
        color: #FBFCFF;
        background: linear-gradient(to right, #F48C8A, #F0A484);
    }
    .app-medium-text-button {
        padding: 12px 32px;
        height: 40px;
    }
    .app-medium-plus-button {
        width: 40px;
        height: 40px;
    }
}
.app-doctor-detail-icon-container {
    width: 20px;
    height: 20px;
}
.app-doctor-detail-icon
{
    width:100%;
    height:100%;
}
.app-description-title {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
}
.app-description-description {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 1rem;
}
.app-cancel-or-change-button
{
    color: #FFF;

        text-align: center;
        text-shadow: 0px 1.5px 1.5px rgba(48, 48, 48, 0.10);
        /* Interactive 1 */
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        display: inline-flex;
        height: 35px;
        padding: 5.115px 20.46px;
        justify-content: center;
        align-items: center;
        gap: 9.173px;
        flex-shrink: 0;
        border-radius: 6.115px;
        background:linear-gradient(90deg, #F48C8A 0%, #F0A484 100%);
}
.app-edit-button
{
    color: #000;

    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 10px;
}
.app-doctor-name {
    font-family:Open Sans;
    font-size: 32px;
    font-style:normal;
    font-weight:600;
    padding-bottom: 0.5rem;
}
.app-description-photos-section {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
}
.app-description-photos-container {
    display: flex;
    column-gap: 0.75rem;
}
.app-description-photo-container {
    width: 120px;
    height: 100px;
    position: relative;
}
.app-description-photo {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.app-ending-duo-buttons-section {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
    padding-top: 1rem;
}
.app-details-record-section {
    padding-top: 0.5rem;
}
.app-ending-reschedule-button {
    background: #675D59;
    border: 2px solid #675D59;
    color: #FBFCFF;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 26px;
}

.app-ending-cancel-button {
    color: #675D59;
    background: #FBFCFF;
    border: 2px solid #675D59;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 26px;
}

@media (max-width: 1134px) {
    .appointment-detail-main-container {
        max-height: 36rem;
    }
    .appointment-detail-main-scrollable-section {
        overflow: auto;
        padding-left: 1.5rem;
        padding-right: 2rem;
    }
    .app-doctor-info-section {
        gap: 20px;
        width: 90%;
    }
    .app-doctor-name {
        font-size: 24px;
    }
    .app-doctor-detail-text {
        font-size: 14px;
    }
    .app-doctor-ending-edit-button {
        padding: 10px 22px;
    }
}

@media (max-width: 745px) {
    .app-doctor-avatar-container {
        width: 100px;
        height: 100px;
    }
    .app-doctor-name {
        font-size: 20px;
    }
    .app-doctor-ending-section {
        padding-top: 0;
    }
    .app-doctor-ending-join-consultation-button {
        padding: 12px 20px;
    }
}