@media (min-width: 768px) {
    .sub-txt-container {
        margin: 40px 0;
    
        .sub-txt-title {
            width: 500px;
            height: 32px;
            margin-top: 10px;
            margin-bottom: 10px;
    
            /* Heading 4 */
    
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 135%;
            /* or 32px */
    
            display: flex;
            align-items: center;
    
            color: #000000;
    
    
            /* Inside auto layout */
    
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        
        .sub-txt-text {
            //width: 800px;
            width: 100%;
            //height: 87px;
            
            /* Body 2
            
            Playfair Display
            */
            font-family: 'Lora';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 160%;
            /* or 29px */
            
            
            color: #000000;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }
    }
}

@media (max-width: 768px) {
    .sub-txt-container {
        margin: 40px 0;
    
        .sub-txt-title {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
    
            /* Heading 4 */
    
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32.4px;
            /* or 32px */
    
            display: flex;
            align-items: center;
    
            color: #000000;
    
    
            /* Inside auto layout */
    
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        
        .sub-txt-text {
            width: 100%;
            //height: 87px;
            
            /* Body 2
            
            Playfair Display
            */
            font-family: 'Lora';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28.8px;
            /* or 29px */
            
            
            color: #000000;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }
    }
}