.doctor-profile-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    position: relative;
    .profile-card-body
    {
        top:200px;
        position: absolute;
        order:1;
        flex:none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        width: 320px;
        height: 78px;
    .search-card-title
    {
        width: 244px;
        height: 29px;
        font-family: 'Lora';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 160%;
        /* identical to box height, or 29px */
        color: #000000;
        margin-bottom: 24px;
    }
    .search-card-text
    {
        display: flex;
        flex-direction: row;
        width: 220px;
        height: 26px;
        gap:6px;

        /* Body 3
        
        Lora
        */
        font-family: 'Lora';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        /* identical to box height, or 26px */
        color: rgba(0, 0, 0, 0.82);
    }
    .starRate{
        margin-top: 24px;
        }
}
    .post-follower-following
    {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 80px;
        top:420px;
        width: 280px;
        height: 53px;

        flex: none;
        order: 2;
        flex-grow: 0;
        .info-showlist
        {
            width: 40px;
            height: 53px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .infor-text
            {
                font-family: 'Lora';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                /* identical to box height, or 26px */

                text-align: center;

                /* 灰 */

                color: #A5A6A8;


                /* Inside auto layout */

                flex: none;
                order: 1;
                flex-grow: 0;
            }
            .infor-number
            {
                font-family: 'Lora';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 160%;
                /* or 35px */

                display: flex;
                align-items: flex-end;
                text-align: center;

                color: #000000;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: -7px 0px;
            }

        }
    }
    .consult-follow-button
    {
        top:500px;
        position: absolute;
        flex: none;
        order: 3;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        gap:24px;
    }
    .doctor-profile-back {
        position: relative;
        top: 650px;
        
        color: #352C29;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 100%;
    }
    .back-link:hover {
        color: #352C29;
        text-decoration: underline;
    }
}