.home-recommande-container {
  padding: 0 30px 0px 30px;

  .home-recommande-title {
    color: var(--text-1-footer, #352c29);
    /* NEW TYPE/NEW sub heading */
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .home-recommande-sub-area {
    display: flex;
  }
  .home-recommande-sub-area-left {
    flex: 1;
  }
  .home-recommande-procedureCard {
    margin-top: 0px;
  }
  .watch-video-link {
    color: var(--text-1-footer, #352c29);
    text-align: center;
    /* Interactive 1 */
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    border-bottom: 1px solid var(--text-1-footer, #352c29);
  }
}
.recommendation-inner-container {
  display: flex;
}
.recommendation-text-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1441px) {
  .home-recommande-container {
    width: 1440px;
  }
  .recommendation-inner-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 24px;
  }
  .recommendation-text-container {
    width: 60%;
    gap: 24px;
  }
}
@media (min-width: 744px) and (max-width: 1440px) {
  .recommendation-inner-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 24px;
  }
  .recommendation-text-container {
    width: 60%;
    gap: 24px;
  }
}

@media (max-width: 743px) {
  .home-recommande-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .recommendation-inner-container {
    gap: 16px;

    flex-direction: column;
  }
  .recommendation-text-container {
    gap: 16px;
  }
}
