.doctor-post-grid-inner-container {
  width: 100%;
  // padding: 40px 20px;
  align-items: center; /* 水平居中 */
  justify-content: center; /* 垂直居中 */
  // margin-bottom: 40px;
  min-height: 200px;
}
.doctor-post-grid-inner-container-V2 {
  width: 100%;
  padding: 40px 20px;
  height: 800px;
  align-items: center; /* 水平居中 */
  justify-content: center; /* 垂直居中 */
  margin-bottom: 40px;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
.down-load-more-container {
  margin-top: -100px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1111;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(128, 128, 128, 1)
  );
  padding: 30px;
}

.arrow-containter {
  width: 32px;
  height: 43.428px;
  flex-shrink: 0;
}
.arrow1-containter {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.download-button {
  display: inline-flex;
  height: 56px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--unnamed, #352c29);
}
.download-button-text {
  color: #fff;
  text-align: center;
  /* Interactive 1 */
  font-size: 15px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 100%;
}
.download-text {
  color: var(--unnamed, #a5a6a8);
  /* Interactive 3 */
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 100%;
}
.post-search-no-results {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem 0rem;
}
.doctor-post-grid-container {
  min-height: 500px;
}
