@media(min-width:744px) and (max-width:1133px)
{
    .doctor-search-mobile-multiInput-container {
        .doctor-search-multiInput-button {
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin-top: 30px;
            //width: 257px;
            /* align-items: left; This line is incorrect. Use flex-start instead. */
            align-items: flex-start; 
            margin:15px 15px 15px 25px;
    
            .custom-button {
                border: 1px solid black;
                width: 185px;
                height: 54px;
                /* align-items: center; This is only valid within a flex container or a grid container. 
                   If you intended this button to be a flex container and its children to be centered, then it's okay.
                   If not, you can remove this line.
                */
                background-color: white;
                color: black;
                
            }
    
            .search-doctor-dropDown-menu {
                width: 140%;
                background-color: rgba(53, 44, 41, 1);
                margin-top: 10px;
                margin-left: -15px;
                /* justify-content: center; This property centers the content. 
                   If you don't want centering, you can remove it or comment it out. */
                max-height: 250px;
            }
    
            .search-location-button {
                border: 1px solid black;
                width: 100%;
                text-align: left;
                background-color: white;
                color: rgba(53, 44, 41, 1);
            }
        }
    }
}
@media (max-width: 744px)
{
.doctor-search-multiInput-button
{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top: 15px;
    align-items: left;
    margin-left:5%;
    .custom-button
    {
        border:1px solid black;
        width:150px;
        align-items: center;
        background-color: white;
        color: black;
    }

    .search-doctor-dropDown-menu
    {
        width:140%;
        background-color: rgba(53, 44, 41, 1);
        margin-top: 10px;
        margin-left: -15px;
        justify-content: center;
        max-height: 250px;
    }
    .search-location-button
    {
        
       // margin-left: -10px;
        border:1px solid black;
        width:100%;
        text-align: left;
        background-color: white;
        color: rgba(53, 44, 41, 1);

    }
}
}
