.instruments-container {
    width: 100%;
    text-align: center;

    .instruments-pic {
        width: 200px;
    }

    .instruments-pic:hover {
        animation-name: pulse;
        animation-duration: 2s;
    }

    .instruments-col {
        line-height: 250px;
    }
}