.intro-doctor-container-mobile
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    .intro-card-mobile
    {
        width:100%;
        // margin:10px;
        justify-content: center;
        
        
    .intro-card-title-mobile
    {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        width:100%;
        text-align: center;
        
        
    }
    .intro-card-img-text-mobile
    {
        justify-content: center;
        margin-top: 15px;
        display: flex;
        gap:30px;
        img
        {
            width: 64px;
            height: 88px;
            margin-bottom: 10px;
        }
    }
    .intro-card-text-mobile
    {
        font-family: 'Lora';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        width:60%;
        
    }
}
}
.intro-doctor-container
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;

    .intro-card {
        width: 30%;
        margin: 50px;

        img {
            width: 64px;
            margin-bottom: 15px;
        }

        .intro-card-title {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 135%;
        }

        .intro-card-text {
            font-family: 'Lora';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
        }
    }
}