.intro-doctor-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 1440px;
    height: 400px;
    left: 0px;
    top: 624px;
    gap:80px;
}