.procedure-main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 60px; /* 左右内边距 100px，上下 0 */
  gap: 52px;
}

.procedure-main-title-container {
  display: flex;
  justify-content: space-between; /* 使用 space-between 使子元素分布在两端 */
  align-items: center; /* 垂直居中 */
  flex-direction: row;
  //width: 100%; /* 容器宽度受限于父元素的 padding */
  margin-bottom: 24px;
  gap: 24px;
  //margin-left: 24px;
}

.procedure-main-header-title {
  color: #352c29;
  /* NEW TYPE/NEW sub heading */
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.procedure-main-collapse-container {
  margin-bottom: 52px;
}

.procedure-grid-empty-container {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}
@media (max-width: 743px) {
  .procedure-main-header-title {
    font-size: 20px;
  }
}
