// base style, 媒体查询的样式会覆盖 基础样式，所以只需要增加不同的项
// 基于1280px设计
.home-container {
    position: relative;
    width: 100%;
    padding-top: 64px;
    background: white;
}
.section-container {
    display: flex;
    // flex-direction: row;
}
.sub-procedure-reference {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0;
    margin-bottom: 30px;
    width: 800px;
}
.sub-link {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 175px;
}
.sub-procedure-side-effect {
    /* Auto layout */
    padding: 0;
    gap: 16px;
    margin-top: 20px;
    width: 800px;
    height: 135px;
}
.sub-procedure-left-container {
    align-items: flex-start;
    gap: 50px;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex: 1;
    flex-direction: column;

    .sub-procedure-right-board-mobile {
        display: none;
    }
}
.sub-procedure-title-container {
    position: relative;
    flex: none;
    order: 0;
    opacity: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 300px;
    .sub-procedure-top-text {
        position: absolute;
        height: 29px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        /* identical to box height, or 29px */
        text-transform: uppercase;
        color: #A5A6A8;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .sub-procedure-title-text {
        position: absolute;
        margin-top: 40px;
        height: 86px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 135%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;

    }
    .sub-procedure-normal-text {
        position: absolute;
        width: 800px;
        height: 87px;

        font-family: 'Lora';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 160%;
        /* or 29px */
        margin-top: 150px;
        color: #000000;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
}
.sub-procedure-normal-text{
    //display: block;
    margin-top: 120px;
}
.sub-text {
    // margin-left: 40px;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
    gap: 70px;
    flex: none;
    .what-section {
        display: flex;
        flex-direction: column;
    }
    .watch-video {
        margin-top: -20px;
        /* Link Button */
        width: 210px;
        height: 22px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 22px;
        line-height: 100%;

        display: flex;
        align-items: center;
        text-align: center;

        /* 深巧 */
        color: #352C29;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

        /* Add underline */
        text-decoration: none;

    }
    .watch-video:hover {
        text-decoration: underline;
    }
    .consider-section {
        flex: 1; // 新加
        display: flex;
        flex-direction: column;
        .pros-and-cons {
            width: 744px;
            height: 58px;
            font-family: 'Lora';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 160%;
            align-items: center;
            margin-top: -20px;
            margin-left: -30px;
        }
    }

}
.FQA-collapside {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: none;
    margin-top: 20px;
}
.sub-procedure-right-container {
    // flex: 1; 
    align-self: stretch;
    flex-grow: 0;
    // margin-top: 64px;
    .sub-procedure-right-content {
        margin-right: 160px;
        display: flex;
        flex-direction: column;
    }
    .introduction-slide-container{
        position: sticky;
        top: 64px;
        margin-top: 20px;
    }
    .introduction-slide {
        display: flex;
        flex-direction: row;
        order: 1;
        flex: none;
        margin-top: 20px;
    }

    .introduction-slide .introduction-catalog {
        flex: none;
        order: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // padding: 24px 0;
        gap: 24px;
        //margin-left: 570px
    }

    .introduction-slide .introduction-catalog .introduction-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: #000000;
    }
    // 点击前的效果
    .introduction-slide .introduction-catalog .introduction-section {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: #000000;
    }
    // 点击前
    .introduction-slide .introduction-catalog .introduction-section::before {
        content: "";
        display: flex;
        width: 3px;
        height: 24px;
        margin-right: 5px;
        border-radius: 10px;
        background: linear-gradient(90deg, #FFA4A3 0%, #FAB25E 100%);
        // transform: rotate(90deg);
        visibility: hidden;
    }

    // 点击后的效果
    .introduction-slide .introduction-catalog .introduction-section.active {
        font-weight: 800;
    }

    .introduction-slide .introduction-catalog .introduction-section.active::before {
        visibility: visible;
    }
    .introduction-slide .introduction-catalog .introduction-section:hover {
        font-weight: 800;
    }

    .introduction-slide .introduction-catalog .introduction-section:hover::before {
        visibility: visible;
    }
}
.sub-title {
    width: 300px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
}
.sub-procedure-form-ver {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    width: 800px;
}
.sub-procedure-scroll-container {
    width: 800px;
    gap: 20px;
}
.procedure-card-container-outer{
}
.procedure-recommendation-container {
    order: 1;
    flex: none;
    margin-top: 10px;
}

// Desktop
@media(min-width: 1280px){
    // 基于1280px设计
    .home-container {
        position: relative;
        width: 100%;
        padding-top: 64px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sub-procedure-title-container {
        .sub-procedure-top-text {
            width: 700px;
        }
        .sub-procedure-title-text {
            width: 700px;
        }
        .sub-procedure-normal-text {
            width: 800px;
        }
        .sub-text {
        }
    }
    .section-container {
        display: flex;
        width: 1280px;
    }

}

@media (min-width: 1024px) and (max-width: 1279px) {
    .home-container {}
    .section-container {}
    .sub-procedure-reference {}
    .sub-link {}
    .sub-procedure-side-effect {
        /* Auto layout */
        width:100%;
        height: auto;
    }
    .sub-procedure-left-container {
        //flex: none;
        width: 60vw;

        .sub-procedure-right-board-mobile {}
    }
    .sub-procedure-normal-text{
        //display: block;
        margin-top: 120px;
    }
    .sub-procedure-title-container {
        .sub-procedure-top-text {
            //width: 700px;
            width: 60vw;
            height: 29px;
            /* identical to box height, or 29px */
        }
        .sub-procedure-title-text {
            //width: 700px;
            width: 60vw;
            //font-size: 64px;
            font-size: 6.4vw;
        }
        .sub-procedure-normal-text {
            //width: 800px;
            width: 60vw;

            font-weight: 400;
            font-size: 21px;
        }
    }
    .sub-text {
        width: 60vw;
        .what-section {
            margin-top: 80px;
        }
        .watch-video {

        }
        .watch-video:hover {
        }
        .consider-section {
            margin-top: -40px;
            .pros-and-cons {
            }
        }

    }
    .FQA-collapside {
        width: 100%;
    }

    .sub-procedure-right-container {
        .sub-procedure-right-content {
        }
        
        .introduction-slide {
            background: #FFFFFF;
            margin: 0;
        }

        .introduction-slide .introduction-catalog {
        }

        .introduction-slide .introduction-catalog .introduction-title {
            //font-size: 18px;
            font-size: 15px;
        }
        // 点击前的效果
        .introduction-slide .introduction-catalog .introduction-section {
            //font-size: 18px;
            font-size: 15px;
        }
        // 点击前
        .introduction-slide .introduction-catalog .introduction-section::before {
        }

        // 点击后的效果
        .introduction-slide .introduction-catalog .introduction-section.active {
        }

        .introduction-slide .introduction-catalog .introduction-section.active::before {
        }
        .introduction-slide .introduction-catalog .introduction-section:hover {
        }

        .introduction-slide .introduction-catalog .introduction-section:hover::before {
        }
    }
   
    .sub-title {
    }
    .sub-procedure-form-ver {
        // width: 800px;
        width: 100%;
    }
    .sub-procedure-scroll-container {
        //width: 800px;
        width:100%;
        gap: 20px;
        margin-top: 20px;
    }
    .procedure-card-container-outer{
    }
    .procedure-recommendation-container {
    } 
}

// ipad
@media (min-width: 768px) and (max-width: 1023px) {
    .home-container {
    }
    .section-container {
    }
    .sub-procedure-reference {
    }
    .sub-procedure-normal-text{
        margin-top: 120px;
    }
    .sub-link {
    }
    .sub-procedure-side-effect {
        /* Auto layout */
        //width: 800px;
        width:100%;
        //height: 135px;
    }
    .sub-procedure-left-container {
        //flex: none;
        order: 0;
        width: 50vw;
    }
    .sub-procedure-title-container {
        .sub-procedure-top-text {
            //width: 700px;
            width: 50vw;
        }
        .sub-procedure-title-text {
            //width: 700px;
            width: 50vw;
            //font-size: 64px;
            font-size: 6.4vw;

        }
        .sub-procedure-normal-text {
            //width: 800px;
            width: 50vw;
            height: 87px;

            font-size: 21px;
        }
    }
    .sub-text {
        // margin-left: 40px;
        //width: 800px;
        width: 50vw;
        .what-section {
            margin-top: 80px;
        }
        .consider-section {
            margin-top: -40px;
        }

    }
    .FQA-collapside {
        width: 100%;
    }

    .sub-procedure-right-container {
        .sub-procedure-right-content {
        }
        .introduction-slide {
            background: #FFFFFF;
            margin-top: 10px;
        }

        .introduction-slide .introduction-catalog {
        }

        .introduction-slide .introduction-catalog .introduction-title {
            //font-size: 18px;
            font-size: 15px;
        }
        // 点击前的效果
        .introduction-slide .introduction-catalog .introduction-section {
            //font-size: 18px;
            font-size: 15px;
        }
        // 点击前
    }
    .sub-procedure-form-ver {
        //width: 800px;
        width:100%;
    }
    .sub-procedure-scroll-container {
        //width: 800px;
        width:100%;
        margin-top: 20px;
    }
    .procedure-card-container-outer{
    }
    .procedure-recommendation-container{
        order: 1;
        flex: none;
    }
}

@media (max-width: 767px) {
    .home-container {
    }
    .section-container {
        width: 90%;
        margin: 0 auto;
    }
    .sub-procedure-reference {
        width: 100%;
    }
    .sub-link {
    }
    .sub-procedure-side-effect {
        width: 100%;
        display: none;
    }
    .sub-procedure-left-container {
        // gap: 50px;
        margin-left: 0;
        width: 100%;
        .sub-procedure-right-board-mobile {
            width: 100%;
            position: relative;
            // //top: 40px;
            // box-sizing: border-box;
            // /* Auto layout */

            // display: flex;
            // flex-direction: column;
            // align-items: flex-start;
            // padding: 24px 16px;
            // gap: 24px;

            // background: #FFFFFF;
            // /* 银灰 */

            // border: 1px solid #E2E3E7;
            // /* Soft Shadow */

            // box-shadow: 0 0 40px rgba(255, 164, 163, 0.1), 0 12px 16px rgba(226, 227, 231, 0.25);
            // border-radius: 8px;
            // span {
            //     display: block;
            // }
            // .right-board-text {
            //     font-family: 'Open Sans';
            //     font-style: normal;
            //     font-weight: 600;
            //     font-size: 18px;
            //     line-height: 100%;
            //     /* identical to box height, or 18px */

            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;
            //     gap: 8px;

            //     color: #000000;
            //     body {
            //         font-size: 18px;
            //     }
            //     .stars-container {
            //         position: relative;
            //         display: inline-block;
            //         color: transparent;
            //     }
            //     .stars-container:before {
            //         position: absolute;
            //         top: 0;
            //         left: 0;
            //         content: '★★★★★';
            //         color: lightgray;
            //     }
            //     .stars-container:after {
            //         position: absolute;
            //         top: 0;
            //         left: 0;
            //         content: '★★★★★';
            //         color: #FFA4A3;
            //         overflow: hidden;
            //     }
            //     .stars-10:after {
            //         width: 20%;
            //     }
            //     .stars-15:after {
            //         width: 30%;
            //     }
            //     .stars-20:after {
            //         width: 40%;
            //     }
            //     .stars-25:after {
            //         width: 50%;
            //     }
            //     .stars-30:after {
            //         width: 60%;
            //     }
            //     .stars-35:after {
            //         width: 70%;
            //     }
            //     .stars-40:after {
            //         width: 80%;
            //     }
            //     .stars-45:after {
            //         width: 90%;
            //     }
            //     .stars-50:after {
            //         width: 100%;
            //     }
            // }
        }
    }
    .sub-procedure-normal-text{
        display: block;
    }
    .sub-procedure-title-container {
        position: relative;
        margin-top: 30px;
        display: block;
        height: auto;
        .sub-procedure-top-text {
            // position: absolute;
            position: static;
            width: 100%;
            line-height: 28.8px;
        }
        .sub-procedure-title-text {
            position: static;
            // position: absolute;
            // width: 100%; // one line version 
            width: 28.5%; // 对应 200px / 700px, multiple lines versions
            font-size: 40px;
        }
        .sub-procedure-normal-text {
            position: static;
            font-weight: 400;
            font-size: 18px;
            line-height: 28.8px;
            margin-top: 8px;
            margin-bottom: 40px;
        }
    }
    .sub-procedure-option-form-container {
        width: 100%;
        position: relative;
        top: -40px;
    }

    
    .sub-text {
        // margin-left: 40px;
        margin-top: 20px;
        position: static;
        // position: relative;
        .what-section {
            display: none;
            width: 100%;

        }
        .consider-section {
            order: 2; // 新加
            .pros-and-cons {
                width: 100%;
                height: 58px;
            }
        }

    }
    .FQA-collapside {
        top: -40px;
        width: 100%;
    }

    .sub-procedure-right-container {
        order: 1; // 新加
        align-self: stretch;
        flex-grow: 0;
        display: none;
    }

    .sub-title {}
    .sub-procedure-scroll-container {
        width: 100%;
        position: relative;
        top: -40px;
        gap: 20px;
    }
    .sub-procedure-form-ver {
        width: 100%;
        position: relative;
        top: -40px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .sub-instrument-reference{
        margin-top: 10px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap: 0;
        margin-bottom: 30px;
        width: 800px;
    }
    .procedure-card-container-outer{
        display: block;
    }
    .procedure-recommendation-container{
        position: relative;
        order: 1;
        flex: none;
        //margin-top: 40px;
        margin-left: 30px;
    }
}
