// screen bigger than 1440px
.edit-post-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(
    --background-gradient-color,
    linear-gradient(180deg, #fff3ec 0%, #fff 100%)
  );
  width: 100%;

  // go back button
  .edit-post-page-back-button-container {
    position: absolute;
    top: 120px;
    left: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fbfcff;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 100;

    .edit-post-page-arrow-icon-back-button {
      rotate: 180deg;
    }
  }

  .edit-post-page-inner-container {
    // position: absolute;
    top: -30px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    border: 2px solid #675d59;
    background: #fbfcff;
    display: flex;
    padding: 0 50px;
    padding-bottom: 30px;
    width: 1000px;
    height: 520px;
    margin: 220px 0;

    // left container
    .edit-post-page-left-container-wrapper {
      display: flex;
      flex-direction: column;
    }

    .edit-post-page-left-container {
      position: relative;
      margin-bottom: 20px;
    }
  }
  .edit-post-pic-wrapper {
    // height: 320px;
    border-radius: 15px;
    // margin-bottom: 15px;
    margin-top: 50px;
    // overflow: hidden;
  }

  .edit-post-page-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fbfcff;
    box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
    margin-top: -65px;
    width: 330px;
    height: 330px;
  }

  .edit-post-page-text {
    position: absolute;
    left: 70px;
    bottom: 20px;
    color: #675d59;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 200px;
  }
}

.edit-post-page-thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .edit-post-page-thumbnail {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    // border: 1px solid gray;
  }

  .edit-post-page-add-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid gray;
    border-radius: 8px;
    background: #fbfcff;
    box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
    width: 70px;
    height: 70px;
  }
}

// right container
.edit-post-page-right-inner-container {
  margin-top: 25px;
}

.edit-post-page-title,
.edit-post-page-description {
  border-radius: 8px;
  background: #fbfcff;
  box-shadow: 2px 4px 16px 0px rgba(103, 93, 89, 0.1);
  outline: none;
  padding: 14px;
}

.edit-post-page-title {
  width: 540px;
  height: 48px;
}

.edit-post-page-title-error-validation,
.edit-post-page-description-error-validation {
  color: #ff0000;
  margin-top: 10px;
}

.edit-post-page-description {
  resize: none;
  width: 540px;
  height: 260px;
}

// tag, location button
// .create-post-page-tag-name {
//   left: 16px;
// }

// .create-post-page-location-tag-name {
//   right: 16px;
// }

// .create-post-page-tag-name,
// .create-post-page-location-tag-name {
//   position: absolute;
//   bottom: 20px;
//   color: #675d59;
//   font-family: Open Sans;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: normal;
// }

.edit-post-page-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;

  .edit-post-input-radio-button {
    margin-right: 6px;
  }

  .edit-post-input-radio-button-label {
    margin-right: 12px;
  }
}

.post-information-sendButton {
  display: flex;
  align-items: center;

  .edit-post-page-repost-button {
    padding: 5px 23px;
    height: 41px;
  }
}

.edit-post-page-trash-icon {
  width: 48px;
  height: 48px;
}

// image mask effect
.thumbnail {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    border-radius: 8px;
    opacity: 0.6;
    width: 100%;
    height: 100%;
  }
}

// Remove the mask for the clicked (selected) thumbnail
.thumbnail.clicked::before {
  content: none; // This removes the ::before content, effectively removing the mask
}

// small screens
@media (max-width: 1133px) {
  .edit-post-page-container {
    .pink-background-1 {
      position: absolute;
      left: 0;
      z-index: 1;
      border-radius: 0 236px 236px 0;
      background: var(
        --new-gradient,
        linear-gradient(90deg, #f48c8a 0%, #f0a484 100%)
      );
    }

    .pink-background-2 {
      top: 570px;
      z-index: 1;
    }

    .edit-post-page-inner-container {
      width: 875px;
      height: 490px;
    }

    .edit-post-page-title,
    .edit-post-page-description {
      width: 400px;
    }
  }
}

// mobile
@media (max-width: 744px) {
  .edit-post-page-container {
    .pink-background-1 {
      top: -80px;
      z-index: 1;
    }

    .pink-background-2 {
      top: 950px;
      right: 0;
      height: 460px;
    }

    .edit-post-page-inner-container {
      display: flex;
      flex-direction: column;
      margin: 180px 0;
      padding: 60px 0;
      width: 480px;
      min-height: 800px;
      height: auto;
    }

    // go back button
    .edit-post-page-back-button-container {
      top: 100px;
      left: 50px;
      font-size: 28px;
    }

    .edit-post-page-title,
    .edit-post-page-description {
      width: 370px;
    }

    .edit-post-input-radio-button-label {
      font-size: 13px;
    }

    .edit-post-page-trash-icon {
      width: 38px;
      height: 38px;
    }

    .edit-post-page-repost-button {
      font-size: 14px;
      padding: 5px 20px;
      height: 41px;
    }
  }
}

// @media (max-width: 530px) {
//   .edit-post-page-inner-container {
//     width: 360px !important;
//   }

//   .pink-background-1 {
//     width: 300px !important;
//   }

//   .pink-background-2 {
//     top: 920px !important;
//     width: 300px !important;
//   }

//   // go back button
//   .edit-post-page-back-button-container {
//     left: 40px !important;

//     .edit-post-page-arrow-icon-back-button {
//       width: 20px !important;
//       height: 20px !important;
//     }

//     .edit-post-page-label-back-button {
//       font-size: 20px !important;
//     }
//   }

//   .edit-post-page-add {
//     width: 300px !important;
//     height: 300px !important;
//   }

//   .edit-post-page-title,
//   .edit-post-page-description {
//     width: 300px !important;
//   }
// }

// @media (max-width: 375px) {
//   .pink-background-2 {
//     right: 0 !important;
//     width: 300px !important;
//   }
// }
