@media (min-width: 768px) {
    .carousel-container {
        //width: 800px; 
        width:100%;
        margin-bottom:20px; 
    }
}

@media (max-width: 768px) {
    .carousel-container {
        width: 100%; 
        margin-bottom:20px; 
    }

    .pic-container-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
