.sub-procedure-reference-inner{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* or 29px */
    color: #000000;
    margin: 0;
    text-decoration: none;
    width: fit-content;
}
