.community-post-main-container {
  display: flex;
  width: 100%;
  height: 800px;

  // pink background
  .community-post-main-pink-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 0px 1000px 1000px 0px;
    background: var(
      --new-gradient,
      linear-gradient(90deg, #f48c8a 0%, #f0a484 100%)
    );
    width: 547px;
    height: 403px;
  }

  .community-post-main-left-container {
    .community-post-main-girl-image {
      position: relative;
      top: 165px;
      left: 110px;
      width: 679px;
      // height: 697px;
    }
  }

  .community-post-main-right-container {
    margin-top: 17rem;
    width: 60%;

    // join a community...
    .community-post-main-title {
      position: relative;
      color: #352c29;
      font-family: Open Sans;
      font-size: 46px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: -20px;
    }

    // charm life lets you share...
    .community-post-main-sub-title {
      color: #352c29;
      font-family: Open Sans;
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-top: 30px;
      margin-left: 110px;
    }
  }
  // create button
  .community-post-main-create-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 150px;

    .community-post-main-create-button {
      display: flex;
      align-items: center;
      gap: 30px;
      color: #fbfcff;
      font-family: Open Sans;
      font-size: 34px;
      font-weight: 700;
      line-height: normal;
      background: var(
        --new-gradient,
        linear-gradient(90deg, #f48c8a 0%, #f0a484 100%)
      );
      border-radius: 1000px 0px 0px 1000px;
      padding: 36px 120px;
      // padding: 16px 50px;
    }
  }
}

@media (max-width: 1133px) {
  .community-post-main-container {
    // height: 700px;

    .commynity-post-main-pink-background {
      width: 550px;
      height: 347px;
    }

    .community-post-main-left-container {
      .community-post-main-girl-image {
        top: 160px;
        left: 70px;
        width: 530px;
        // height: 544px;
      }
    }

    .community-post-main-right-container {
      margin-top: 15rem;

      .community-post-main-title {
        margin-left: 120px;
      }
    }

    .community-post-main-create-button-container {
      .community-post-main-create-button {
      }
    }
  }
}

@media (max-width: 744px) {
  .community-post-main-container {
    flex-direction: column-reverse;
    height: 1200px;

    .community-post-main-pink-background {
      top: 420px;
      width: 582px;
      height: 291px;
    }

    .community-post-main-left-container {
      .community-post-main-girl-image {
        top: -200px;
        left: 70px;
        width: 530px;
        // height: 544px;
      }
    }

    .community-post-main-right-container {
      width: 600px;
      left: -80px;
      position: absolute;
      top: -140px;
      margin-top: 15rem;

      .community-post-main-title {
        margin-left: 120px;
      }
    }

    .community-post-main-create-button-container {
      position: absolute;
      top: 550px;
      right: 0;

      .community-post-main-create-button {
        margin-top: 340px;
      }
    }
  }
}

// @media (max-width: 1133px) {
//   .community-post-main-pink-background {
//     width: 600px;
//     height: 390px;
//   }

//   // small tags
//   .occaecat {
//     top: 140px;
//     left: 150px;
//   }

//   .adipiscing {
//     top: 160px;
//     right: 50px;
//   }

//   .lorem {
//     top: 340px;
//     left: 95px;
//     z-index: 0;
//   }

//   .eiusmod {
//     bottom: -210px;
//     right: -100px;
//   }

//   .excepteur {
//     bottom: -300px;
//     right: 100px;
//   }

//   .community-post-main-title {
//     width: 480px !important;
//   }

//   .community-post-main-sub-title {
//     font-family: Open Sans;
//     font-size: 21px;
//     font-style: normal;
//     font-weight: 600;
//     line-height: normal;
//   }

//   .community-post-main-link-button {
//     width: calc(100% - 15px);
//     padding: 35px 50px;
//     display: flex;
//     justify-content: center;
//     text-align: center;
//   }
// }

// h6 {
//   margin: 0px auto;
//   width: 430px;
// }

// @media (max-width: 744px) {
//   .community-post-main-link-button {
//     margin-top: 425px;
//     width: 500px;
//   }

//   .community-post-main-pink-background {
//     top: 350px;
//   }

//   // small tags
//   .occaecat {
//     margin-top: -120px;
//   }

//   .adipiscing {
//     margin-top: -120px;
//   }

//   .lorem {
//     margin-top: -150px;
//   }

//   .eiusmod {
//     bottom: -200px;
//     right: -90px;
//   }

//   .excepteur {
//     bottom: -325px;
//   }

//   h1 {
//     position: relative;
//     top: -260px;
//     left: -220px;
//     margin: 0;
//   }

//   h6 {
//     position: relative;
//     top: -250px;
//     left: -220px;
//     margin: 0;
//   }

//   .community-post-main-photo-girl {
//     margin-top: -120px;
//   }

//   .community-post-main-photograph-caption {
//     top: 480px;
//   }

//   .community-post-main-photograph-like {
//     top: 515px;
//   }

//   .community-post-main-likes-container img {
//     top: 515px;
//   }

//   .community-post-main-photograph {
//     margin-top: -120px;
//   }

//   .community-post-main-photo-1 {
//     top: 350px;
//   }

//   .community-post-main-photo-2 {
//     top: 275px;
//   }
// }
