// css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-main-title {
  color: #000;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-top: 50px;
}
