.account-setting-container
{
    width:100%;
    position: absolute;
    .account-setting-left-pink
    {
        position:absolute;
        top:17px;
        left:-519px;
        // right:-700px;
        border-radius: 236px;
        background: var(--new-gradient, linear-gradient(90deg, #F48C8A 0%, #F0A484 100%));
        width: 1011px;
        height: 406px;
        flex-shrink: 0;
        z-index: -1; /* This value might need to be adjusted based on other elements */
    }
    .account-setting-right-pink
    {
        width: 120px;
        height: 120px;
        flex-shrink: 0;
        fill: var(--new-gradient, linear-gradient(90deg, #F48C8A 0%, #F0A484 100%));
        opacity: 0.8;
        position:absolute;
        top:811px;
        left:1288px;
        // right:-700px;
        border-radius: 236px;
        z-index: 1; /* This value might need to be adjusted based on other elements */
    }
    .account-security-table
    {
        position: relative;
        left: 166px;
        top: 241px;
        width: 530px;   
        height: 260px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 2px solid var(--text-2-button, #675D59);
        background: var(--White, #FBFCFF);
    }
    .account-privacy-table
    {
        position: relative;
        top: -19px;
        left: 744px;
        width: 530px;   
        height: 260px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 2px solid var(--text-2-button, #675D59);
        background: var(--White, #FBFCFF);
    }
    .account-payment-table
    {
        position: relative;
        left: 166px;
        top: 21px;
        width: 530px;   
        height: 260px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 2px solid var(--text-2-button, #675D59);
        background: var(--White, #FBFCFF);
    }
    .account-deactivation-and-deletion-table
    {
        position: relative;
        left: 744px;
        top: -239px;
        width: 530px;   
        height: 199px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 2px solid var(--text-2-button, #675D59);
        background: var(--White, #FBFCFF);
    }

}

