
.choose-gender-title-container{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    // margin-bottom:60px;
}
.gender-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-bottom: 36px;
}
.gender-icon-container{
    display: flex;
    //flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    width: 100%;
}
.gradient-radio input[type="radio"]:checked + span {
    background: linear-gradient(90deg, #F48C8A 0%, #F0A484 100%);
    border-color: linear-gradient(90deg, #F48C8A 0%, #F0A484 100%);
}
.calendar-input{
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid  rgba(20, 20, 20, 0.50);
}
.calendar-input:focus {
    border-color: orange;
    outline: none; /* 移除默认的轮廓 */
}
.profile-section-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 10px;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.next-button-section{
    margin-top: 48px;
}
.profile-content-container{
    margin-top: 30px;
}
  
  
  