.create-account {
    display: flex;      // makes children display in a row
    justify-content: center; // horizontally centers the children
    align-items: center; // vertically aligns the items in case they have different heights
    width: 100%;        // ensures it takes the full width of its parent
    font-size: 12px; 
    margin: 8px; 
}