.signUp-download-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    // height: 53px;
}

.login-form-container{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-title-container{
   // margin-bottom: 30px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-label{
    color: #352C29;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
}

.custom-input:focus {
    border-color: orange;
    outline: none; /* 移除默认的轮廓 */
}
.sign-in-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    //padding-left: 85px; 
    //padding-right: 85px;
    // gap: 10px;
}

.custom-label-size {
    font-size: 16px; /* Adjust this value according to your preference */
}
.sign-up-form-input-container{
    margin-left: 55px;
    margin-top: 40px;
}

