.login-register-title {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 400;
    line-height: 135%;
}

.login-register-sub-title {
    color: #000;
    font-family: 'PingFang HK', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-top: -15px;
}