@media(min-width: 1024px) {
    .login-button-section {
        margin-top: -10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .signup-popup-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-title-container{
        margin-top: 25px;
    }
}