.send-verification-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.send-verification-title-container{
    margin-bottom: 100px;
    width: 100%;
}
.verification-button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}