.verify-email-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verify-title-container{
   // margin-top: 25px;
    margin-bottom: 100px;
    width: 100%;
}
// .submit-button-section{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     margin-top: 16px;
// }
.verify-email-content-container{
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 50px;
}