.verify-email-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verify-title-container{
    margin-top: 25px;
}
.submit-button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
}