/* SignUpAccountType.css */

.signup-account-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust height as per your requirement */
}

.button-container {
    display: flex;
    gap: 10px; /* Adjust gap as per your requirement */
    margin-top: 20px; /* Adjust margin as per your requirement */
}


// Adding comment to test 