@media(min-width: 1024px) {
    .signup-popup-modal .modal-header {
        border: none;
    }
    .signup-popup-modal {
        .modal-content {
            border-radius: 20px;
            min-width: 400px;
            max-width: 430px;
            height: 600px; 
            margin-left: auto;
            margin-right: auto;
        }
    }
    .next-button-section {
        margin-top: -10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    // .or-label {
    //     color: #AAA;
    //     font-family: Lora;
    //     font-size: 12px;
    //     font-style: normal;
    //     font-weight: 500;
    //     line-height: normal;
    //     margin-top: 20px;
    //     text-align: center;
    //     // flex-grow: 1;
    //     flex-shrink: 0;
    // }

    // .signin-with-apple-section {
    //     margin-top: 10px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    // }
    // .signin-with-google-section {
    //     margin-top: 8px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    // }
    // .signin-with-facebook-section {
    //     margin-top: 8px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    // }
    .step-tracker {
        display: flex;
        align-items: center;
        justify-content: center;
        //justify-content: space-between;
        gap:5px;
        padding: 5px 0;
        margin-bottom: 20px;
        margin-top: -15px;
    }
    
    .bullet-point {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: lightgray;
        transition: background-color 0.3s;
    }
    
    .bullet-point.active {
        background-color: black;
    }
}
