
.sub-instrument-container{
    display: flex;
    flex-direction: row;
    margin-top: 64px;
}
.sub-instrument-left-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.sub-instrument-title-container{
    flex: none;
    order: 0;
    opacity: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start; 
    align-items: flex-start;
    margin-bottom: 80px;
}
.sub-instrument-top-text{
    position: absolute;
    width: 700px;
    height: 29px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #A5A6A8;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.sub-instrument-logo-pic{
    width: auto;
    height: 15vw;
    // margin-bottom: 40px;
    margin-left: 0; 
    margin-top: 16px;
}
.sub-instrument-normal-text{
    color: #000;
    font-family: PingFang HK;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 28.8px */
}
.sub-instrument-watch-video {
    //margin-top: -80px;
    width: 210px;
    height: 22px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #352C29;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
.sub-instrument-watch-video:hover {
    text-decoration: underline;
}
.sub-instrument-watch-video:hover {
    text-decoration: underline;
}
.sub-instrument-option-form-container{
    width: 100%;
    //width: 800px;
    position: relative;
    margin-top: 30px;
    margin-bottom:80px;
}
.sub-instrument-scroll-container{
    width: 100%;
    position: relative;
    margin-top: 40px;
    gap: 20px;
    margin-bottom: 80px;
}
.sub-instrument-reference{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0;
    margin-bottom: 30px;
    width: 800px;
}
.sub-instrument-title{
    width: 300px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
}
.outer-container{
    display: flex;
    flex-direction: column;
}
.sub-instrument-right-container{
    position: sticky;
    top: 64px;
}

.instrument-introduction-slide {
    display: flex;
    flex-direction: row;
    //background: #FFFFFF;
    order: 1;
    flex: none;
}

.instrument-introduction-slide .introduction-catalog {
    flex: none;
    order: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    // position: absolute;
    width: 380px;
    //width: 300px;

    height: 240px;
    //right: 40px;
}

.instrument-introduction-slide .introduction-catalog .introduction-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    //font-size: 18px;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000000;
}
// 点击前的效果
.instrument-introduction-slide .introduction-catalog .introduction-section {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    //font-size: 18px;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000000;
}
// 点击前
.instrument-introduction-slide .introduction-catalog .introduction-section::before {
    content: "";
    display: flex;
    width: 3px;
    height: 24px;
    margin-right: 5px;
    border-radius: 10px;
    background: linear-gradient(90deg, #FFA4A3 0%, #FAB25E 100%);
    visibility: hidden;
}

// 点击后的效果
.instrument-introduction-slide .introduction-catalog .introduction-section.active {
    font-weight: 800;
}

.instrument-introduction-slide .introduction-catalog .introduction-section.active::before {
    visibility: visible;
}
.instrument-introduction-slide .introduction-catalog .introduction-section:hover {
    font-weight: 800;
}

.instrument-introduction-slide .introduction-catalog .introduction-section:hover::before {
    visibility: visible;
}
.instrument-recommendation-container{
    order: 1;
    flex: none;
    position: relative;
    margin-top: 40px;
}
.instrument-footer-container{
    margin-top: 80px;
}
.sub-instrument-what{
    margin-top:-40px;
}
.instrument-sub-text{
    margin-bottom: 80px;
}
.instrument-FQA{
    margin-top: 40px;
    margin-bottom: 80px;
}
.instrument-card-mobile-container{
    display: none;
}
.instrument-card-container{
    position: relative; 
    margin-top:56px;
}

/* Large Screen  */
@media(min-width: 1280px){
    .sub-instrument-container{
    }
    .sub-instrument-left-container{
        // width: 800px;
        flex-grow:0;
    }   
    .sub-instrument-title-container{
    }
    .sub-instrument-top-text{
    }
    .sub-instrument-logo-pic{
    }
    .sub-instrument-right-container{
    }
    .sub-instrument-watch-video {
        //margin-top: -80px;
        //width: 210px;
    }
    .sub-instrument-watch-video:hover {
    }
    .sub-instrument-option-form-container{
        //width: 100%;
        width: 800px;
        margin-top: 30px;
    }
    .sub-instrument-scroll-container{
    }
    .sub-instrument-reference{
        width: 100%;
    }
    .sub-instrument-title{
    }
    .outer-container{
    }
    .instrument-introduction-slide {
        //left:63vw;
    }
    .instrument-introduction-slide .introduction-catalog {
        position: relative;
        height: 240px;
    }

    .instrument-introduction-slide .introduction-catalog .introduction-title {
    }
    // 点击前的效果
    .instrument-introduction-slide .introduction-catalog .introduction-section {
    }
    // 点击前
    .instrument-introduction-slide .introduction-catalog .introduction-section::before {
    }

    // 点击后的效果
    .instrument-introduction-slide .introduction-catalog .introduction-section.active {
    }

    .instrument-introduction-slide .introduction-catalog .introduction-section.active::before {
    }
    .instrument-introduction-slide .introduction-catalog .introduction-section:hover {
    }

    .instrument-introduction-slide .introduction-catalog .introduction-section:hover::before {
    }
    .instrument-recommendation-container{
    }
    .instrument-footer-container{
        
    }
    .sub-instrument-what{
    }
    .instrument-sub-text{
    }
    .instrument-card-mobile-container{
        display: none;
    }
    .instrument-card-container{
        position: relative;
        margin-top: 56px;
    }

}
/* Normal Screen */
@media(min-width: 1024px) and (max-width: 1279px){}
@media(min-width:768px) and (max-width: 1023px){
    .sub-instrument-container{
    }
    .sub-instrument-left-container{
        position: relative;
        margin-left: 40px;
        width: 55vw;
        flex-grow:0;
    }
        
    .sub-instrument-title-container{
        position: relative;
        //width: 55vw;
    }
    .sub-instrument-top-text{
        //width: 700px;
        width: 50vw;
    }
    .sub-instrument-logo-pic{
    }
    .sub-instrument-right-container{
    }
    .sub-instrument-watch-video {
        //margin-top: -80px;
        //width: 210px;

    }
    .sub-instrument-watch-video:hover {
    }
    .sub-instrument-option-form-container{
    }
    .sub-instrument-scroll-container{
    }
    .sub-instrument-reference{
    }
    .sub-instrument-title{
    }
    .outer-container{
    }
    .instrument-introduction-slide {
        left:63vw;
        //top: 300px;
        margin-top: 20px;
    }
    .instrument-introduction-slide .introduction-catalog {
        width: auto;
        height: 240px;
    }

    .instrument-introduction-slide .introduction-catalog .introduction-title {
        font-size: 15px;
    }
    // 点击前的效果
    .instrument-introduction-slide .introduction-catalog .introduction-section {
        font-size: 15px;
    }
    // 点击前
    .instrument-introduction-slide .introduction-catalog .introduction-section::before {
    }

    // 点击后的效果
    .instrument-introduction-slide .introduction-catalog .introduction-section.active {
    }

    .instrument-introduction-slide .introduction-catalog .introduction-section.active::before {
    }
    .instrument-introduction-slide .introduction-catalog .introduction-section:hover {
    }

    .instrument-introduction-slide .introduction-catalog .introduction-section:hover::before {
    }
    .instrument-recommendation-container{
    }
    .instrument-footer-container{
    }
    .sub-instrument-what{
    }
    .instrument-sub-text{
    }
    .instrument-card-mobile-container{
    }
    .instrument-card-container{
        margin-left:4vw;
        margin-top: 44px;
    }
}
@media(max-width: 767px){
    .sub-instrument-container{
    }
    .sub-instrument-left-container{
        align-items: flex-start;
        order: 0;
        flex-grow: 0;
        width: 100%;
    }
    .sub-instrument-title-container{
        position: relative;
        margin-top: 30px;
    }
    .sub-instrument-top-text{
        width: 100%;
        font-size: 15px;
        line-height: 28.8px;
    }
    .sub-instrument-logo-pic{
        width: 305px;
        height: auto;
       // margin-bottom: 40px;
        margin-left: 0; 
       // margin-top: 16px;
    }
    .sub-instrument-watch-video {
        //margin-top: -80px;
        width: auto;
        margin-top: -20px;

    }
    .sub-instrument-watch-video:hover {
    }
    .sub-instrument-option-form-container{
        width: 85vw;
        margin: 10px 0 0 30px;
    }
    .sub-instrument-scroll-container{
        width: 85vw;
        margin-top: -60px;
        margin-bottom: 40px;
        margin-left: 30px;
    }
    .sub-instrument-reference{
        margin: 10px 0 40px 30px;
        width: 85vw;
    }
    .sub-instrument-title{
    }
    .outer-container{
    }
    .sub-instrument-right-container{

    }
    .sub-instrument-right-container-card{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 35vw;
        //right: 2vw;
        top: 36px;
        background: #FFFFFF;   
        border: 1px solid #E2E3E7;   
        box-shadow: 0 0 40px rgba(255, 164, 163, 0.1), 0 12px 16px rgba(226, 227, 231, 0.25);
        border-radius: 8px;
        position: relative; 
    }
    .sub-instrument-right-board-text{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        color: #000000;
    }
    .instrument-introduction-slide {
        display: none;
        
    }
    .instrument-recommendation-container{
    }
    .instrument-footer-container{
        margin-top: 40px;
    }
    .sub-instrument-what{
    }
    .instrument-sub-text{
        margin: 0 20px 40px 30px;
    }
    .instrument-card-mobile-container{
        margin-bottom: 40px;
        margin-left: 30px;
        position: relative;
    }
    .instrument-FQA{
        width: 85vw;
        margin-left: 30px;
    }
}