@media(min-width: 1024px){
    .sub-instrument-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 64px;
    }
    .sub-instrument-left-container{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 40px;
        width: 60vw;
    }
    .sub-instrument-right-container{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .sub-instrument-title-container{
        position: relative;
        flex: none;
        order: 0;
        opacity: 1;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: flex-start; /* add or modify this line */
        align-items: flex-start; /* add this line */
    }
    .sub-instrument-top-text{
        position: absolute;
        width: 700px;
        height: 29px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        text-transform: uppercase;
        color: #A5A6A8;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .sub-instrument-logo-pic{
        width: auto;
        height: 15vw;
        margin-bottom: 40px;
        margin-left: 0; 
        margin-top: 16px;
    }
    .sub-instrument-right-container-card{
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .sub-instrument-normal-text{
        color: #000;
        font-family: PingFang HK;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 28.8px */
    }
    .sub-instrument-watch-video {
        margin-top: -80px;
        width: 210px;
        height: 22px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 22px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #352C29;
        flex: none;
        order: 0;
        flex-grow: 0;
        text-decoration: none;

    }
    .sub-instrument-watch-video:hover {
        text-decoration: underline;
    }
    .sub-instrument-option-form-container{
        width: 100%;
        position: relative;
        margin-top: 56px;
    }
    .sub-instrument-scroll-container{
        width: 100%;
        position: relative;
        top: -40px;
        gap: 20px;
    }
    .sub-instrument-reference{
        margin-top: 10px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap: 0;
        margin-bottom: 30px;
        width: 800px;
    }
    .sub-instrument-title{
        width: 300px;
        height: 32px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
    }
}
