.search-loading-bar-container {
    width: 100%;
    height: 6px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.search-loading-bar {
    width: 87.5%;
    height: 100%;
    background: #E2E3E7;
    position: relative;
    border-radius: 4px;
}

@keyframes loading {
    0% {left: 0%;}
    50% {left: 95%;}
    100% {left: 0%;}
}
.search-loading-bar-moving-part {
    width: 5%;
    height: 100%;
    position: absolute;
    background: #675D59;
    border-radius: 4px;
    animation: loading 4s ease-in-out 0.25s infinite;
}
