.comment-card-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 70px;
  gap: 10px;
  align-items: center;
  .reviewer-profile-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    .reviewer-progile-avatar {
      position: relative;
      left: 0%;
      justify-content: center;

      .reviewer-avatar {
        width: 35.84px;
        height: 35.84px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .reviewer-information {
      position: relative;
      justify-content: center;
      display: flex;
      flex-direction: column;
      left: 0%;
      width: 400px;
      gap: 5px;

      .detail-gray-font {
        color: #675d59;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .userName-date {
        display: flex;
        flex-direction: column;
        gap: 4%;
      }
      .detail-comment-text {
        color: #352c29;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .comment-card-date,
      .comment-card-button {
        color: #675d59;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 10px;
      }
    }
  }

  .likeCount-commentCount {
    justify-self: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5px;
    left: 80%;

    .post-detail-icon {
      width: 18px;
      border-radius: 0;
    }
  }
}
