.Home-post {
  width: 100%;
  //height: 800px;
  display: flex;
  overflow: hidden;
}
.home-mobile-share-pic-container {
  //display: flex;
  width: 50%;
}
.home-mobile-share-postContainer {
  display: none;
}

.home-post-pic {
  background: linear-gradient(146.24deg, #fab25e 0%, #ffa4a3 58.43%);
}
.home-post-inner-container {
  display: flex;
  width: 50vw;
  position: relative; /* Add this line */
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; /* Center vertically if needed */
}
.home-post-container {
  display: flex;
  flex-direction: column;

  .home-post-text {
    //left:800px;
    //height: 64px;
    .home-post-text1 {
      //width: max-content;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 700;
      font-size: 5vw;
      line-height: 100%;
      /* identical to box height, or 64px */
      display: flex;
      align-items: center;
      color: #000000;
    }

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .home-post-subText {
    //left:800px;
    //width: 460px;
    //height: 145px;
    //flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 30px;
    .postText {
      font-family: "Lora";
      font-style: normal;
      font-weight: 400;
      //   font-size: 2vw;
      line-height: 160%;
      color: #000000;
    }
  }
  .home-post-link {
    // width: 400px;
    // height: 35px;
    // left:800px;
    flex: none;
    order: 2;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    .underline-link {
      //width: 201px;
      //height: 35px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      //   font-size: 25px;
      line-height: 160%;
      /* or 35px */
      color: #352c29;
    }
  }
}

//Style for web
@media (min-width: 1133px) {
  .Home-post {
    width: 100%;
    //height: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    margin-bottom: 150px;
  }
  .home-mobile-share-pic-container {
    //display: flex;
    width: 50%;
  }
  .home-mobile-share-postContainer {
    display: none;
  }

  .home-post-pic {
    width: 40vw;
    height: 55vw;
    left: 0px;
    top: 0%;
    bottom: 0%;
    position: relative;
    background: linear-gradient(146.24deg, #fab25e 0%, #ffa4a3 58.43%);
    border-radius: 0px 1000px 1000px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-post-inner-container {
    display: flex;
    width: 50vw;
    position: relative; /* Add this line */
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; /* Center vertically if needed */
  }
  .home-post-container {
    .home-post-text {
      //left:800px;
      //height: 64px;
      .home-post-text1 {
        //width: max-content;
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        font-size: 5vw;
        line-height: 100%;
        /* identical to box height, or 64px */
        display: flex;
        align-items: center;
        color: #000000;
      }

      /* Inside auto layout */

      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
    }
    .home-post-subText {
      //left:800px;
      //width: 460px;
      //height: 145px;
      //flex: none;
      order: 1;
      flex-grow: 0;
      margin-top: 30px;
      .postText {
        font-family: "Lora";
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 160%;
        color: #000000;
      }
    }
    .home-post-link {
      // width: 400px;
      // height: 35px;
      // left:800px;
      flex: none;
      order: 2;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      .underline-link {
        //width: 201px;
        //height: 35px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 160%;
        /* or 35px */
        color: #352c29;
      }
    }
  }
}
// Style for extra large screen

// Style for ipad
@media (min-width: 768px) and (max-width: 1132px) {
  .Home-post {
    flex-direction: row-reverse;
  }
  .home-mobile-share-pic-container {
    display: block;
  }

  .home-post-pic {
    width: 50vw;
    height: 50vw;
    position: relative;
    border-radius: 50%;
    margin-right: -10vw;
    .post-pic {
      width: 345px;
      height: 414px;
      overflow: hidden;
      z-index: 1;
    }
  }

  .home-post-container {
    justify-content: center;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .Home-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .home-post-pic {
    width: 70vw;
    height: 70vw;
    background: linear-gradient(146.24deg, #fab25e 0%, #ffa4a3 58.43%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .home-post-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 10px;
  }
  .home-mobile-share-postContainer {
    position: absolute;
    top: 450px;
    left: -26px;
    z-index: 1;
    width: 200px;
  }

  .home-mobile-share-link {
    color: #000;
    /* Interactive 3 */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }
  .home-post-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    // padding: 0 20px;
  }
  .post-pic {
    width: 60vw;
    height: 60vw;
  }
}
