//Style for web
@media(min-width:1024px){
    .Home-post{
        width: 100%;
        //height: 800px;
        background:white;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        margin-bottom: 150px;
    }
    .home-mobile-share-pic-container{
        //display: flex;
        width: 50%;
    }
    .home-mobile-share-postContainer{
        display: none;
    }
    
    .home-post-pic
    {
        width: 40vw;
        height: 55vw;
        left: 0px;
        top: 0%;
        bottom: 0%;
        position: relative;
        background: linear-gradient(146.24deg, #FAB25E 0%, #FFA4A3 58.43%);
        border-radius: 0px 1000px 1000px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .home-post-inner-container {
        display: flex;
        width: 50vw; 
        position: relative;  /* Add this line */
        flex-direction: row;
        justify-content: flex-end;
        align-items: center; /* Center vertically if needed */
    }
    
    .post-pic {
        //width: 400px;
        //height: auto;
        margin-right: 2vw;
        overflow: hidden;
        z-index: 2;  /* Increase the z-index */
        border: none;
        border-radius: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .decoration-pic1 {
        // position: absolute;
        // top: 210px;
        // right: 0;  /* Aligns it to the right edge of the parent */
        // width: 160px;
        // height: 180px;
        // object-fit: cover;
        // z-index: 1;  /* Ensure this is below the post-pic */
        // border: none;
        // border-radius: 0;
        display:none;
    }
    .decoration-pic2 {
        // position: absolute;
        // top: 340px;
        // right: 310px;
        // width: 180px;
        // height: auto;
        // object-fit: cover;
        // z-index: 1;  
        // border: none;
        // border-radius: 0;
        display:none;
    }
    .p-topic{
        //position: relative;
        display: none;
        .post-topic {
            // position: absolute;
            // display: inline-flex;
            // align-items: center;
            // justify-content: center;
            // padding: 2px 12px;
            // background: #FFFFFF;
            // box-shadow: 0px 0px 16px rgba(255, 164, 163, 0.1), 0px 2px 4px rgba(32, 32, 33, 0.04), 0px 4px 16px rgba(32, 32, 33, 0.08);
            // border-radius: 100px;
            // font-family: 'Open Sans';
            // font-style: normal;
            // font-weight: 400;
            // font-size: 18px;
            // line-height: 160%;
            // color: #333333;
            // z-index: 3;
            display: none;
        }
        
        .topic1 {
        //    top: -20px;
        //    right: 340px;
            display: none;
        }
        
        .topic2 {
            // top: 110px;
            // right: 390px;
            display: none;
        }
        
        .topic3 {
            // top: 210px;
            // right: 380px;
            display: none;
        }
        
        .topic4 {
            // top: 380px;
            // right: 0px;
            display: none;
        }
        
        .topic5 {
            // top: 480px;
            // right: 40px;
            display: none;
        }
        
    }
    
    .home-post-container
    {
        object-fit: cover;
        order:1;
        display: flex;
        flex-direction: column;
        //height: 400px;
        //top: 400px;
        //left:900px;
        width: 50%;
        background: #FEFFFF;
        // margin-left: 200px;
        // margin-top: 250px;
        // // margin-left: 330px;
        // margin-right: 50px;
        justify-content: center;
        //align-items: center;
        padding: 50px;
        .home-post-text
        {
            //left:800px;
            //height: 64px;
            .home-post-text1{
                //width: max-content;
                font-family: 'Playfair Display';
                font-style: normal;
                font-weight: 700;
                font-size: 5vw;
                line-height: 100%;
                /* identical to box height, or 64px */
                display: flex;
                align-items: center;
                color: #000000;
            }
            
            /* Inside auto layout */
            
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }
        .home-post-subText
        {
            //left:800px;
            //width: 460px;
            //height: 145px;
            //flex: none;
            order: 1;
            flex-grow: 0;
            margin-top: 30px;
            .postText
            {
                font-family: 'Lora';
                font-style: normal;
                font-weight: 400;
                font-size: 2vw;
                line-height: 160%;
                color: #000000;
            }      
        }
        .home-post-link
        {
            // width: 400px;
            // height: 35px;
            // left:800px;
            flex: none;
            order: 2;
            flex-grow: 0;
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            .underline-link
            {
                //width: 201px;
                //height: 35px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 160%;
                /* or 35px */
                color: #352C29;
            }
        }
    }
  .home-mobile-share-pic-container{
     display: block;
  }
  .home-mobile-share-postContainer{
     display: none;
  }
  .home-mobile-share-tag1{
    display: none;
  }
  .home-mobile-share-tag4{
    display: none;
  }
  .home-mobile-share-tag2{
    display: none; 
  }
  .home-mobile-share-link{
    display: none;
  }
}
// Style for extra large screen

// Style for ipad
@media (min-width: 768px) and (max-width: 1023px){
    .Home-post{
        width:100%;
        display: flex;
        flex-direction: row; 
        margin-top: 200px;
        padding: 20px 0px;

    }
    .home-mobile-share-pic-container{
        display: block;
    }
    .decoration-pic1{
            background-image: url('../../../assets/home/decoration-post.png');
            background-size: contain;
            position: absolute;
            margin-top: 238px;
            margin-left: 44vw;
            width: 105.755px;
            height: 105.755px;
            object-fit: cover;
            border: none;
            border-radius: 0;
            //display: none;
        }
        .decoration-pic2
        {
            background-image: url('../../../assets/home/decoration-post.png');
            background-size: contain;
            position: absolute;
            margin-top: 350px;
            margin-left: 5vh;
            width: 158.632px;
            height: 158.632px;
            object-fit: cover;
            border: none;
            border-radius: 0;
            //display: none;
        }
    .home-post-pic{
        width: 50vw;
        height: 514px;
        //width:40vw;
        //height: 50vw;
        left: 0px;
        top: 0%;
        bottom: 0%;
        position: relative;
        background: linear-gradient(146.24deg, #FAB25E 0%, #FFA4A3 58.43%);
        border-radius: 0px 1000px 1000px 0px;
        .post-pic{
           // background-image: url('../../../assets/home/post-container-ipad.png');
            //background-image: url('../../../assets/home/trendings.png');
           // background-repeat: no-repeat;
            //background-size: contain;
            position: absolute;
            width: 345px;
            height: 414px;
            margin-top: 60px;
            margin-top: 30px;
            margin-left: 80px;
            overflow: hidden;
            z-index: 1;
            border: none;
            border-radius: 0;
        }
    }
    .post-topic {
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 2px 12px;
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(255, 164, 163, 0.1), 0px 2px 4px rgba(32, 32, 33, 0.04), 0px 4px 16px rgba(32, 32, 33, 0.08);
        border-radius: 100px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #333333;
        // tag will be on the top of the post
        z-index: 3;
        //display: none;
    }
    .topic1 {
        margin-top: 40px;
        margin-left: 5vw;
        //display: none;
    }
    .topic2 {
        margin-top: 170px;
        margin-left: 1vw;
        //display: none;
    }
    
    .topic3 {
        margin-top: 250px;
        margin-left: 3vw;
       //display: none;
    }
    
    .topic4 {
        margin-top: 350px;
        margin-left: 35vw;
        //display: none;
    }
    
    .topic5 {
        margin-top: 450px;
        margin-left: 26vw;
        //display: none;
    }
    .home-post-container {
        object-fit: cover;
        order: 1;
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 40%; /* Updated width */
        background: #FEFFFF;
        margin-left: 12vw;
        margin-top: 50px;
        margin-right: 50px;
    
        .home-post-text {
            width: 100%; /* Ensure it takes the full width of the parent */
            height: 64px;
    
            .home-post-text1 {
                width: 100%; /* Updated width */
                font-family: 'Playfair Display';
                font-style: normal;
                font-weight: 700;
                font-size: 68px;
                line-height: 100%;
                display: flex;
                align-items: center;
                color: #000000;
            }
        }
    
        .home-post-subText {
            width: 100%; /* Ensure it takes the full width of the parent */
            height: 145px;
            margin-top: 40px;
    
            .postText {
                font-family: 'Lora';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 160%;
                color: #000000;
            }      
        }
    
        .home-post-link {
            width: 100%; /* Ensure it takes the full width of the parent */
            height: 35px;
            margin-top: 60px;
            display: flex;
            flex-direction: row;
    
            .underline-link {
                width: 175px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 160%;
                color: #352C29;
            }
        }
    }
    
    
     .home-mobile-share-tag1{
       display: none;
     }
     .home-mobile-share-tag4{
       display: none;
     }
     .home-mobile-share-tag2{
       display: none; 
     }
     .home-mobile-share-link{
        color: #000;
        /* Interactive 3 */
        font-family: Open Sans;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        margin-top: 10px;
     }


}
@media (max-width: 767px){
    .Home-post{
        width:100%;
        display: flex;
        flex-direction: row; 
    }
    .home-mobile-share-pic-container{
        margin-top: 20px;
        width: 100%;
        padding-right: 15px;
    }
    .home-post-pic{
        width: 160px;
        height: 307px;
        left: 0;
        top: 0%;
        bottom: 0%;
        
        z-index: 0;
        position: relative;
        background: linear-gradient(146.24deg, #FAB25E 0%, #FFA4A3 58.43%);
        border-radius: 0px 1000px 1000px 0px;
    }
    .home-mobile-share-postContainer{
        position: absolute;
        top: 420px;
        left: 0;
        z-index: 1;
    }
    .p-topic{
        display: none;
    }
    .decoration-pic1{
        display: none;
    }
    .decoration-pic2{
        display: none;
    }
    .post-topic{
        display: none;
    }
    .home-mobile-share-tag1{
        position: absolute;
        z-index: 1;
        top: 415px;
        left: 8px;
    }
    .home-mobile-share-tag4{
        position: absolute;
        z-index: 2;
        top: 525px;
        left: 87px;
    }
    .home-mobile-share-tag2{
        position: absolute;
        z-index: 1;
        top: 670px;
        left: 17px;
    }
    .home-post-container{
        flex: 0;
        display: flex; 
        order: 1;  // 新增
        justify-content: flex-start;
        margin-right: 5%;
        padding-top:30px;   
        flex-direction: column;
        gap: 15px;
    }
    .home-mobile-share-link{
        color: #000;
        /* Interactive 3 */
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }




    
}