$sub-color: black;
$main-color: rgb(165, 166, 168);

@mixin shrinkLabel {
  top: 3px;
  font-size: 11px;
  padding-left: 5px;
  color: $main-color;
}

.group {
  position: relative;
  height: 56px !important;
  background-color: white;
  border-radius: 0px;
  border: 1px solid transparent;

  .form-input {
    background: none;
    color: $sub-color;
    font-size: 18px;
    padding-left: 10px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-top: 20px;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  .form-input-label {
    color: $sub-color;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    padding-left: 8px;
    margin-top: 3px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }

}

