.user-profile-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 320vh;
}

.user-profile-outter-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
