.doctor-post-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #fbfcff;
  margin-top: 64px;
  width: 100%;
}
.doctor-post-header-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  /* 白 */
  background: #fbfcff;
  /* 银灰 */
  border-bottom: 1px solid #e2e3e7;
  padding: 20px 40px;
  width: 100%;
  height: 80px;
}

.doctor-post-outer-title {
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .doctor-post-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfcff;
    margin-top: 0px;
    width: 100%;
  }

  .doctor-post-header-container {
    display: flex;
    justify-content: center;
    background: #fbfcff; /* 白 */
    border-bottom: 1px solid #e2e3e7; /* 银灰 */
    padding: 0 33px;
    width: 100%;
    height: 80px;
    // justify-content: space-between; /* 确保两个元素之间有最大的间隙 */
    // padding: 0 2vh;  /* 上下边距为0, 左右边距为2vh */
    // gap: 3vh;  /* 设置两个元素之间的间隙为3vh */
  }
}

.doctor-post-content-container {
  z-index: -1;
  padding: 0 10px 0 10px;
  width: 100%;
  height: 70%;
}

.waterfall-layout-container {
  margin-top: 200px !important;
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-dropdown {
  width: 100px !important;
}

.post-search-box-position-container {
  position: absolute;
  right: 0;
}
