@media(min-width: 992px){
    .home-section5-titles-container{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 576px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    
        width: fit-content;
        margin: 0 auto;
    }
    .home-section5-title-heading3{
        /* Popular Cosmetic Procedures */
     
         width: 549px;
         height: 54px;
     
         /* Heading 3 */
     
         font-family: 'Playfair Display';
         font-style: normal;
         font-weight: 700;
         font-size: 40px;
         line-height: 135%;
         /* identical to box height, or 54px */
     
         display: flex;
         align-items: center;
     
         color: #000000;
     
     
        
         flex: none;
         order: 0;
         flex-grow: 0;
     }   
     .home-mobile-procedure-grid{
        display: block;
    } 
}
@media(max-width: 576px){
    .home-section5-titles-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:0px 20px;
    }
    .home-section5-title-heading3{
        display: flex;
        width: 171px;
        height: 27px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
        font-family: Playfair Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
    }
    // For the mobile version
    .home-mobile-procedure-grid{
        display: flex;
        margin: auto;
    
        flex-direction: row;
        justify-content: space-around; 
        padding: 0px 20px;
        grid-gap: 6px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;  
    }
}
