.about-container {
    margin-bottom: 30px;
    
    .about-title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        /* or 32px */

        display: flex;
        align-items: center;

        color: #000000;
    }

    .about-items {
        display: flex;
        justify-content: left;
        gap: 30px;
        overflow-x: scroll;

        .about-item-grid {
            text-align: center;

            .about-item-pic {
                width: 60px;
                height: 60px;
                margin: auto;
                border-radius: 8px;
            }

            .about-item-name {
                font-family: 'Lora';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                /* or 26px */


                color: #000000;
            }
        }
    }
}

@media (max-width: 576px) {
    .about-title {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}