.styled-button-v2-container {
    border: 0;
    background: url('../../assets/home/button.png') no-repeat;
    background-size: 100% 100%;
    font-size: 14px;
    font-weight: 600;
    color: #3397B9;
    padding: 4% 0;
    margin: 0 auto;
}

.styled-button-v2-container:hover {
    filter: brightness(1.2);
}