.doctor-search-container {
    border-radius: 24px;
    background: white;
    width: calc(100% - 10px);
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 10px;
    margin: 0 10px 15px;

    .doctor-search-icon {
        width: 20px;
        margin: 2px 6px;
    }

    .doctor-search-text {
        border: 0;
        background-color: transparent;
        width: calc(100% - 32px);
        padding: 3px 5px;
    }
}