.sub-procedure-photos-container {

    .sub-procedure-photos-title {
        width: 82%;
        font-size: 18px;
        font-weight: 500;
        color: #00688B;
        text-transform: uppercase;
        margin: 10px auto;
        padding: 0 4%;
    }

    .sub-procedure-photos-container {
        width: 74%;
        margin: auto;
    }
    
    .sub-procedure-photos-photo {
        width: 100%;
    }
}