.grid {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adjust space between rows */
  }
  
  .row {
    display: flex;
    justify-content: space-evenly; /* Ensures equal spacing between items */
  }
  
  .image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px; /* Adjust padding */
    flex: 1; /* Each item takes equal space in the row */
  }
  
  .circle-img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    margin-bottom: 5px; /* Space between image and text */
  }
  .circle-img.selected {
    border: 2px solid pink; /* Adjust the border size and color as needed */
    border-radius: 50%; /* Keeps the image circular */
  }