.doctor-search-multiInput-button
{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 30px;
    align-items: center;
    .custom-button
    {
        border:1px solid black;
        width:186px;
        align-items: center;
        background-color: white;
        color: black;
    }

    .search-doctor-dropDown-menu
    {
        width:216px;
        background-color: rgba(53, 44, 41, 1);
        margin-top: 10px;
        margin-left: -15px;
        justify-content: center;
        max-height: 250px;
    }
    .search-location-button
    {
        
        margin-left: -10px;
        border:1px solid black;
        width:186px;
        text-align: left;
        background-color: white;
        color: rgba(53, 44, 41, 1);

    }
}
